<!DOCTYPE html>
<html class="text-m" lang="zh-Hant">

<head>
	{{!-- {{>meta bootstrap='true' bootstrap4='true' jquery='true' editor='true' }} --}}
	{{>meta editor='true'}}
</head>

<body id="top" class="page {{#if focus}}focus{{/if}}">
	{{>header hrefForAA='true'}}

	{{>pageContent2Column containerXlarge='true' BreadcrumbUserVisibleOnDesk='true' breadcrumbCurrent='Current' userOn='true' user='陳大天' linkLogout='index.html' hrefForAA='true' leftMenu='true' leftMenu1level='true' listMenuVisibleOnDesktop='true' h2buttonMobile='true' h2buttonMobileClasses='btn_primary mt-2 uk-button uk-button-small uk-button-primary' h2buttonMobileName='分類選單' h2buttonDropdown='true' content='editor' pageTitle='標題名稱'}}

	{{>footer hrefForAA='true'}}
</body>

</html>