<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

{{!-- First edit the title of the templateData in the gulp.task('templates') of gulpfile.js.
The title will be changed to {{title}} in all hbs --}}
<head>
	{{>meta editor='true'}}
</head>

<body id="top" class="index {{#if focus}} focus{{/if}}">
	{{>header hrefForAA='true' shadow='true' logoRightNav='true' iconLogin='true' mainMenu='true'}}

	{{>indexContent hrefForAA='true'}}

	{{>footer hrefForAA='true'}}
</body>

</html>