<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

{{!-- First edit the title of the templateData in the gulp.task('templates') of gulpfile.js.
The title will be changed to {{title}} in all hbs --}}
<head>
	{{>meta}}
</head>

<body id="top" class="index">
	{{>header-modal}}

	{{>indexContent}}

	{{>footer}}
</body>

</html>