<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

<head>
	{{>meta title='榮民醫院醫學資源數位化合作網'}}
</head>

<body>
	{{>header title='榮民醫院醫學資源數位化合作網'}}

	<h2>Welcome to my homepage</h2>

	{{>footer}}
</body>

</html>