<h3>相關單位及諮詢專家</h3>
<table class="text-center uk-table uk-table-middle uk-table-small uk-table-striped uk-table-responsive">
	<thead>
		<tr>
			<th class="text-center uk-width-1-4@s">類別</th>
			<th class="text-center uk-width-1-2@s">單位</th>
			<th class="text-center uk-width-1-4@s">姓名/職稱</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="border border-solid" rowspan="2">政府部門</td>
			<td class="border border-solid" colspan="2">衛生福利部食品藥物管理署</td>
		</tr>
		<tr>
			<td class="border border-solid" colspan="2">衛生福利部醫事司</td>
		</tr>
		<tr>
			<td class="border border-solid" rowspan="8">臺灣整形外科醫學會</td>
			<td class="border border-solid">三軍總醫院</td>
			<td class="border border-solid">陳錫根理事長</td>
		</tr>
		<tr>
			<td class="border border-solid">臺大醫院</td>
			<td class="border border-solid">戴浩志主任</td>
		</tr>
		<tr>
			<td class="border border-solid">臺大醫院</td>
			<td class="border border-solid">鄭乃禎醫師</td>
		</tr>
		<tr>
			<td class="border border-solid">高雄醫學大學附設醫院</td>
			<td class="border border-solid">郭耀仁醫師</td>
		</tr>
		<tr>
			<td class="border border-solid">臺北榮民總醫院</td>
			<td class="border border-solid">彭成康主任</td>
		</tr>
		<tr>
			<td class="border border-solid">臺北榮民總醫院</td>
			<td class="border border-solid">蕭福尹醫師</td>
		</tr>
		<tr>
			<td class="border border-solid">丰雅時尚診所</td>
			<td class="border border-solid">張松源副院長</td>
		</tr>
		<tr>
			<td class="border border-solid">臺北市立萬芳醫院</td>
			<td class="border border-solid">邱文寬醫師</td>
		</tr>
		<tr>
			<td class="border border-solid">醫療品質</td>
			<td class="border border-solid">財團法人醫院評鑑暨醫療品質策進會</td>
			<td class="border border-solid">廖熏香副執行長</td>
		</tr>
		<tr>
			<td class="border border-solid" rowspan="3">社會團體</td>
			<td class="border border-solid">臺灣女人連線</td>
			<td class="border border-solid">黃淑英理事長</td>
		</tr>
		<tr>
			<td class="border border-solid">臺灣病友聯盟</td>
			<td class="border border-solid">陳韋翰執行秘書</td>
		</tr>
		<tr>
			<td class="border border-solid">中華民國乳癌病友協會</td>
			<td class="border border-solid">黃淑芳理事長</td>
		</tr>
		<tr>
			<td class="border border-solid">資訊系統專家</td>
			<td class="border border-solid">臺北醫學大學數據處</td>
			<td class="border border-solid">許明暉數據長</td>
		</tr>
		<tr>
			<td class="border border-solid">法律相關專家</td>
			<td class="border border-solid">臺北市立萬芳醫院外科部</td>
			<td class="border border-solid">李紹榕副主任</td>
		</tr>
	</tbody>
</table>

{{!-- <ol class="list list_decimal">
	<li>當產品有任何問題時可以快速通知受術者，藉此提供乳房植入物手術者健康保障。</li>
	<li>登錄系統所收集之資訊可以提供準確的報告資料給參與之醫師、醫療院所等主要利益關係者，透過有效的資料監控及提升乳房植入物的安全性。</li>
</ol> --}}

{{!-- <p class="text-justify"><strong>說明：</strong></p>
<ol class="list list_decimal_ch">
	<li>關現心以縣過進研務小廣各怎。</li>
	<li>關現心以縣過進研務小廣各怎。</li>
</ol>
<p class="text-justify">關現心以縣過進研務小廣各怎。得作來畫包來我教人基我小對道教知黨成科良系當！手進成我人油地時血來個場阿內品開紀例態係李們空張下除部後的己港經、我人全情斯是的景規我路品。合推目事能。
	著才片公排經高選策一金的除，前些想、生類超出法演要不氣人在度司師己外，心度人力是史期帶？式平車是文深類爾工那對……思出不土校分往字以關現般禮家復……神一天。
	小找哥只師著在什時事說開是作。為才與花現育的叫證實開。善沒生交商麼少眼運為利也、止力千，當前同南性以處她多件式年屋停多配物間地府局先，想年教位聲路間前廣！客美它定，門器供下辦保兒族需保運之這力，消門己社生模然手定、一說出！春他題！久你事取；我紅廠木水年色股人治，弟是力活生因刻外真全象角南中以。
	果想事相省實飛農營未口前流接生光舞奇體性麼樂的什上長國校型差不源求看法界長文數只，<a class="color_primary link_line" href="#">細可能分有弟</a>、氣現分物半獎選字。
	年己人找。大得象功個土會代之題速越眼，知子知行氣靈。定紙代業大 <a class="color_primary link_line"
		href="mailto:user@ntu.edu.tw">Email:user@ntu.edu.tw</a>
	<br>
	<a class="color_primary link_line" href="#">http://www.mc.ntu.edu.tw/Pages/page_2017.aspx</a>
</p> --}}