<!-- uk-accordion -->
<ul class="tw-list-disc tw-pl-5 uk-accordion" uk-accordion="multiple: true">
	<li class="uk-open">
    {{!-- <a class="tw-text-base tw-pb-1 uk-accordion-title" href="#" onclick="toggleAttr(event, '', 'title', '展開', '縮起')"></a> --}}
		<a class="tw-text-base tw-font-bold tw-pb-1 uk-accordion-title" href="#">的山有位轉有最片當我市檢，的樣地，保西步起不能府定同在開便直陽到心望心元基推他沒一界來市起是位取之土兒助認有要人人起母。人正候鄉去候員來</a>
		<div class="tw-m-0 tw-pt-1 uk-accordion-content">
			<p class="tw-m-0">成機期沒增、大濟冷好生，<strong class="{{#if colorSecondary}}color_secondary{{else}}color_primary{{/if}}">癌症</strong>山做府你說一如人可樣隊。交以要上做活哥是收這進難告水此而了路子這立室北什之：企長人：部的的臺研愛個意球在關在小卻，老陽重方自的送書眾不親論量，我油生，點的子聯</p>
		</div>
	</li>
	<li>
		<a class="tw-text-base tw-font-bold tw-pb-1 uk-accordion-title" href="#">的山有位轉有最片當我市檢，的樣地，保西步起不能府</a>
		<div class="tw-m-0 tw-pt-1 uk-accordion-content">
			<p class="tw-m-0">成機期沒增、大濟冷好生，<strong class="{{#if colorSecondary}}color_secondary{{else}}color_primary{{/if}}">癌症</strong>山做府你說一如人可樣隊。交以要上做活哥是收這進難告水此而了路子這立室北什之：企長人：部的的臺研愛個意球在關在小卻，老陽重方自的送書眾不親論量，我油生，點的子聯</p>
		</div>
	</li>
</ul>
<!-- uk-accordion -->