<!-- Banner -->
<div id="banner"
  class="max_height-250 uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle uk-visible@m">
  <!-- <p class="uk-h4">Cover</p> -->
</div>
<!-- Banner -->
<!-- <div class="m:-mt-24 relative container_responsive@s uk-container">
    <div class="bg_primary opacity-80 uk-position-cover"></div>
    <p class="p-3 text-white relative">台灣乳房植入物登錄系統(Taiwan Breast Implant Registry, TBIR)是
      台灣衛生福利部食品藥物管理署的研究計畫，由臺北醫學大學研究團
      隊承接，並與台灣整形外科醫學會合作共同建置而成，目的在於提供
      乳房植入物手術者健康保障，並監控及提升乳房植入物的安全性。</p>
  </div> -->