{{!-- {{>confirm-modal id='confirm' modal-title='確定儲存？'}} --}}

<!-- uk-modal-print -->
<div id="{{id}}" class="uk-flex-top uk-modal" uk-modal>
	<div class="uk-modal-dialog uk-margin-auto-vertical">
		<button class="uk-modal-close-default" type="button" title="刪除" uk-close></button>
		{{!-- <div class="uk-modal-header">
		</div> --}}
		<div class="uk-modal-body">
			<p class="text-2xl font-bold uk-modal-title">{{modal-title}}</p>
		</div>
		<div class="text-center uk-modal-footer" uk-margin>
			{{!-- <a href="#" class="btn_primary min_width-100 m-0 rounded-full uk-button uk-button-primary">註　　冊</a>
			<button class="min_width-100 rounded-full uk-button uk-button-default uk-modal-close" type="button">取　　消</button> --}}
			<a href="#" class="btn_primary min_width-100 m-0 uk-button uk-button-primary">送　　出</a>
			<button class="min_width-100 uk-button uk-button-default uk-modal-close" type="button">取　　消</button>
			{{!-- <a href="#login" class="rounded-full uk-button uk-button-default" uk-toggle>返回登入</a> --}}
		</div>
	</div>
</div>
<!-- uk-modal-print -->
