<h3>{{h3Title}}</h3>

<ul class="uk-list" uk-height-match="target: .match">
	<li>
		<div class="margin_y_child-even-m uk-grid uk-grid-collapse uk-flex-middle uk-child-width-expand@s" uk-grid>
			<div class="match min_width-1/5!@s tw-flex uk-flex-middle">
				<label class="font_size-10 tw-font-bold tw-text-left m:tw-text-right tw-w-full s:tw-pr-3 uk-form-label" for="del_cover">封面</label>
			</div>
			<div class="min_width-4/5!@s">
				<img id="del_cover" data-src="https://picsum.photos/90/120" width="90" height="120" alt="封面" uk-img>
			</div>
		</div>
	</li>
	<li>
		<div class="margin_y_child-even-m uk-grid uk-grid-collapse uk-flex-middle uk-child-width-expand@s" uk-grid>
			<div class="match min_width-1/5!@s tw-flex uk-flex-middle">
				<label class="font_size-10 tw-font-bold tw-text-left m:tw-text-right tw-w-full s:tw-pr-3 uk-form-label" for="del_title">題名</label>
			</div>
			<div class="min_width-4/5!@s">
				<input id="del_title" class="uk-input" type="text" placeholder="" value="Five Feet Apart愛上觸不到的你">
			</div>
		</div>
	</li>
	<li>
		<div class="margin_y_child-even-m uk-grid uk-grid-collapse uk-flex-middle uk-child-width-expand@s" uk-grid>
			<div class="match min_width-1/5!@s tw-flex uk-flex-middle">
				<label class="font_size-10 tw-font-bold tw-text-left m:tw-text-right tw-w-full s:tw-pr-3 uk-form-label" for="del_author">作者</label>
			</div>
			<div class="min_width-4/5!@s">
				<input id="del_author" class="uk-input" type="text" placeholder="" value="Justin Baldoni">
			</div>
		</div>
	</li>
	<li>
		<div class="margin_y_child-even-m uk-grid uk-grid-collapse uk-flex-middle uk-child-width-expand@s" uk-grid>
			<div class="match min_width-1/5!@s tw-flex uk-flex-middle">
				<label class="font_size-10 tw-font-bold tw-text-left m:tw-text-right tw-w-full s:tw-pr-3 uk-form-label" for="del_pub">出版者</label>
			</div>
			<div class="min_width-4/5!@s">
				<input id="del_pub" class="uk-input" type="text" placeholder="" value="采昌國際多媒體">
			</div>
		</div>
	</li>
	<li>
		<div class="margin_y_child-even-m uk-grid uk-grid-collapse uk-flex-middle uk-child-width-expand@s" uk-grid>
			<div class="match min_width-1/5!@s tw-flex uk-flex-middle">
				<label class="font_size-10 tw-font-bold tw-text-left m:tw-text-right tw-w-full s:tw-pr-3 uk-form-label" for="del_isbn">ISBN</label>
			</div>
			<div class="min_width-4/5!@s">
				<input id="del_isbn" class="uk-input" type="text" placeholder="" value="">
			</div>
		</div>
	</li>
	<li>
		<div class="margin_y_child-even-m uk-grid uk-grid-collapse uk-flex-middle uk-child-width-expand@s" uk-grid>
			<div class="match min_width-1/5!@s tw-flex uk-flex-middle">
				<label class="font_size-10 tw-font-bold tw-text-left m:tw-text-right tw-w-full s:tw-pr-3 uk-form-label" for="del_ver">版本</label>
			</div>
			<div class="min_width-4/5!@s">
				<input id="del_ver" class="uk-input" type="text" placeholder="" value="">
			</div>
		</div>
	</li>
	<li>
		<div class="margin_y_child-even-m uk-grid uk-grid-collapse uk-flex-middle uk-child-width-expand@s" uk-grid>
			<div class="match min_width-1/5!@s tw-flex uk-flex-middle">
				<label class="font_size-10 tw-font-bold tw-text-left m:tw-text-right tw-w-full s:tw-pr-3 uk-form-label" for="del_date">出版日</label>
			</div>
			<div class="min_width-4/5!@s">
				<input id="del_date" class="uk-input" type="text" placeholder="" value="2019">
			</div>
		</div>
	</li>
	<li>
		<div class="margin_y_child-even-m uk-grid uk-grid-collapse uk-flex-middle uk-child-width-expand@s" uk-grid>
			<div class="match min_width-1/5!@s tw-flex uk-flex-middle">
				<label class="font_size-10 tw-font-bold tw-text-left m:tw-text-right tw-w-full s:tw-pr-3 uk-form-label" for="del_type">資料類型</label>
			</div>
			<div class="min_width-4/5!@s">
				<input id="del_type" class="uk-input" type="text" placeholder="" value="視聽資料">
			</div>
		</div>
	</li>
	<li>
		<div class="margin_y_child-even-m uk-grid uk-grid-collapse uk-flex-middle uk-child-width-expand@s" uk-grid>
			<div class="match min_width-1/5!@s tw-flex uk-flex-middle">
				<label class="font_size-10 tw-font-bold tw-text-left m:tw-text-right tw-w-full s:tw-pr-3 uk-form-label" for="del_media">媒體型態</label>
			</div>
			<div class="min_width-4/5!@s">
				<input id="del_media" class="uk-input" type="text" placeholder="" value="DVD">
			</div>
		</div>
	</li>
	<li>
		<div class="margin_y_child-even-m uk-grid uk-grid-collapse uk-flex-middle uk-child-width-expand@s" uk-grid>
			<div class="match min_width-1/5!@s tw-flex uk-flex-middle">
				<label class="font_size-10 tw-font-bold tw-text-left m:tw-text-right tw-w-full s:tw-pr-3 uk-form-label" for="del_lan">出版語文</label>
			</div>
			<div class="min_width-4/5!@s">
				<input id="del_lan" class="uk-input" type="text" placeholder="" value="DVD">
			</div>
		</div>
	</li>
	<li>
		<div class="margin_y_child-even-m uk-grid uk-grid-collapse uk-flex-middle uk-child-width-expand@s" uk-grid>
			<div class="match min_width-1/5!@s tw-flex uk-flex-middle">
				<label class="font_size-10 tw-font-bold tw-text-left m:tw-text-right tw-w-full s:tw-pr-3 uk-form-label" for="del_add_date">推薦日期</label>
			</div>
			<div class="min_width-4/5!@s">
				<input id="del_add_date" class="uk-input" type="text" placeholder="" value="2020-09-20">
			</div>
		</div>
	</li>
	<li>
		<div class="margin_y_child-even-m uk-grid uk-grid-collapse uk-flex-middle uk-child-width-expand@s" uk-grid>
			<div class="match min_width-1/5!@s tw-flex uk-flex-middle">
				<label class="font_size-10 tw-font-bold tw-text-left m:tw-text-right tw-w-full s:tw-pr-3 uk-form-label" for="del_authority">推薦權限</label>
			</div>
			<div class="min_width-4/5!@s">
				<input id="del_authority" class="uk-input" type="text" placeholder="" value="一般推薦">
			</div>
		</div>
	</li>
	<li>
		<div class="margin_y_child-even-m uk-grid uk-grid-collapse uk-flex-middle uk-child-width-expand@s" uk-grid>
			<div class="match min_width-1/5!@s tw-flex uk-flex-middle">
				<label class="font_size-10 tw-font-bold tw-text-left m:tw-text-right tw-w-full s:tw-pr-3 uk-form-label" for="del_note">館員審查註記</label>
			</div>
			<div class="min_width-4/5!@s">
				<input id="del_note" class="uk-input" type="text" placeholder="" value="一般推薦">
			</div>
		</div>
	</li>
	<li>
		<div class="margin_y_child-even-m uk-grid uk-grid-collapse uk-flex-middle uk-child-width-expand@s" uk-grid>
			<div class="match min_width-1/5!@s tw-flex uk-flex-middle">
				<label class="font_size-10 tw-font-bold tw-text-left m:tw-text-right tw-w-full s:tw-pr-3 uk-form-label" for="del_price">定價</label>
			</div>
			<div class="min_width-4/5!@s">
				<input id="del_price" class="uk-input" type="text" placeholder="" value="5000元">
			</div>
		</div>
	</li>
	<li>
		<div class="margin_y_child-even-m uk-grid uk-grid-collapse uk-flex-middle uk-child-width-expand@s" uk-grid>
			<div class="match min_width-1/5!@s tw-flex uk-flex-middle">
				<label class="font_size-10 tw-font-bold tw-text-left m:tw-text-right tw-w-full s:tw-pr-3 uk-form-label" for="del_soldprice">售價</label>
			</div>
			<div class="min_width-4/5!@s">
				<input id="del_soldprice" class="uk-input" type="text" placeholder="" value="4800元">
			</div>
		</div>
	</li>
	<li>
		<div class="margin_y_child-even-m uk-grid uk-grid-collapse uk-flex-middle uk-child-width-expand@s" uk-grid>
			<div class="match min_width-1/5!@s tw-flex uk-flex-middle">
				<label class="font_size-10 tw-font-bold tw-text-left m:tw-text-right tw-w-full s:tw-pr-3 uk-form-label" for="del_sum">推薦數量</label>
			</div>
			<div class="min_width-4/5!@s">
				<input id="del_sum" class="uk-input" type="text" placeholder="" value="1">
			</div>
		</div>
	</li>
	<li>
		<div class="margin_y_child-even-m uk-grid uk-grid-collapse uk-flex-middle uk-child-width-expand@s" uk-grid>
			<div class="match min_width-1/5!@s tw-flex uk-flex-middle">
				<label class="font_size-10 tw-font-bold tw-text-left m:tw-text-right tw-w-full s:tw-pr-3 uk-form-label" for="del_state">處理狀態</label>
			</div>
			<div class="min_width-4/5!@s">
				<input id="del_state" class="uk-input" type="text" placeholder="" value="採購審查中">
			</div>
		</div>
	</li>
	<li>
		<div class="margin_y_child-even-m uk-grid uk-grid-collapse uk-flex-middle uk-child-width-expand@s" uk-grid>
			<div class="match min_width-1/5!@s tw-flex uk-flex-middle">
				<label class="font_size-10 tw-font-bold tw-text-left m:tw-text-right tw-w-full s:tw-pr-3 uk-form-label" for="del_reject">駁回原因</label>
			</div>
			<div class="min_width-4/5!@s">
				<textarea id="del_reject" class="uk-textarea" rows="5" placeholder="">臺的不法園光河解各場主這富可山不，雲課康化告內香，裝我電稱量主來他進如這全還內有萬孩過際看國境告。更南家畫投。
				</textarea>
			</div>
		</div>
	</li>
</ul>

{{!-- <table class="uk-table uk-table-small uk-table-striped uk-table-responsive">
	<!-- <thead>
		<tr>
			<th class="tw-text-nowrap"></th>
			<th class="w-1/6 tw-text-nowrap"></th>
		</tr>
	</thead> -->
<tbody>
	<tr>
		<td class="tw-text-left m:tw-text-right uk-width-1-3@m">封面：</td>
		<td class="uk-table-expand"><img data-src="https://picsum.photos/90/120" width="90" height="120" alt="封面" uk-img></td>
	</tr>
	<tr>
		<td class="tw-text-left m:tw-text-right uk-width-1-3@m">題名：</td>
		<td class="uk-table-expand">Five Feet Apart愛上觸不到的你</td>
	</tr>
	<tr>
		<td class="tw-text-left m:tw-text-right uk-width-1-3@m">作者：</td>
		<td class="uk-table-expand">Justin Baldoni</td>
	</tr>
	<tr>
		<td class="tw-text-left m:tw-text-right uk-width-1-3@m">出版者：</td>
		<td class="uk-table-expand">采昌國際多媒體</td>
	</tr>
	<tr>
		<td class="tw-text-left m:tw-text-right uk-width-1-3@m">ISBN：</td>
		<td class="uk-table-expand">9789865025977</td>
	</tr>
	<tr>
		<td class="tw-text-left m:tw-text-right uk-width-1-3@m">版本：</td>
		<td class="uk-table-expand"></td>
	</tr>
	<tr>
		<td class="tw-text-left m:tw-text-right uk-width-1-3@m">出版日：</td>
		<td class="uk-table-expand">2019</td>
	</tr>
	<tr>
		<td class="tw-text-left m:tw-text-right uk-width-1-3@m">資料類型：</td>
		<td class="uk-table-expand">視聽資料</td>
	</tr>
	<tr>
		<td class="tw-text-left m:tw-text-right uk-width-1-3@m">媒體型態：</td>
		<td class="uk-table-expand">DVD</td>
	</tr>
	<tr>
		<td class="tw-text-left m:tw-text-right uk-width-1-3@m">出版語文：</td>
		<td class="uk-table-expand">英文</td>
	</tr>
	<tr>
		<td class="tw-text-left m:tw-text-right uk-width-1-3@m">推薦日期：</td>
		<td class="uk-table-expand">2020-09-20</td>
	</tr>
	<tr>
		<td class="tw-text-left m:tw-text-right uk-width-1-3@m">推薦權限：</td>
		<td class="uk-table-expand">一般推薦</td>
	</tr>
	<tr>
		<td class="tw-text-left m:tw-text-right uk-width-1-3@m">館員審查註記：</td>
		<td class="uk-table-expand">2020.9.21智軒報價5000元</td>
	</tr>
	<tr>
		<td class="tw-text-left m:tw-text-right uk-width-1-3@m">定價：</td>
		<td class="uk-table-expand">5000</td>
	</tr>
	<tr>
		<td class="tw-text-left m:tw-text-right uk-width-1-3@m">售價：</td>
		<td class="uk-table-expand"></td>
	</tr>
	<tr>
		<td class="tw-text-left m:tw-text-right uk-width-1-3@m">推薦數量：</td>
		<td class="uk-table-expand">1</td>
	</tr>
	<tr>
		<td class="tw-text-left m:tw-text-right uk-width-1-3@m">處理狀態：</td>
		<td class="uk-table-expand">採購審查中</td>
	</tr>
	<tr>
		<td class="tw-text-left m:tw-text-right uk-width-1-3@m">駁回原因：</td>
		<td class="uk-table-expand"></td>
	</tr>
</tbody>
</table> --}}

<div class="mt-2"><a href="#confirm" class="btn_primary tw-w-full uk-button uk-button-primary" uk-toggle>儲存資料</a></div>