<ul class="border2 border_primary-dark border_dotted-before uk-tab" uk-tab>
	<li><a href="#">登錄流程</a></li>
	<li><a href="#">查資料流程</a></li>
	<li><a href="#">相關表單</a></li>
</ul>
<ul class="uk-switcher uk-margin">
	<li>
		<ol class="list list_upper-latin">
			<li>
				<strong class="color_dark">如何註冊參與「臺灣乳房植入物登錄系統(Taiwan Breast Implant Registry, TBIR)」？</strong>
				<p class="text-justify">
					如果您是執行乳房植入物相關手術之外科醫師，您可以從此連結進行註冊與登錄，你可以從此處觀看註冊說明書。<br>完成註冊後，本登錄系統團隊將會寄發完成註冊的確認信給您，您也可以開始登錄病患手術資料。
				</p>
			</li>
			<li>
				<strong class="color_dark">資料保密協議</strong>
				<p class="text-justify"></p>
			</li>
			<li>
				<strong class="color_dark">完成註冊後，如何登錄病人的資料？</strong>
				<p class="text-justify">
					當您完成註冊後，您可以開始著手登錄病人的資料，在登錄前您需要事前通知病人，並提供其「TBIR受術者參與同意書」，取得同意後，您可以採用紙本或線上的方式進行病人資料登錄。<br>
					如果您採用紙本登錄方式，請您將完成的「TBIR受術者參與同意書」及「TBIR登錄表單」，寄至XXXXX，本登錄系統的工作人員將會將您所填寫的資料進行登錄。<br>
					如果您採用線上登錄方式，請您至登錄頁面進行登錄，並依照系統內的表單將資料填寫完畢後送出，你可以從此處觀看資料登錄流程說明書。
					(這邊會插入一個資料收集流程圖)
				</p>
				<img class="w-full my-4" data-src="https://fakeimg.pl/350x200/?text=Chart" data-width data-height alt="資料收集流程圖" uk-img>
				<p class="text-justify">
					當您將病患資料登錄完成後，您亦可以從系統內觀看您所登錄之資料。如果您對登錄過程有任何疑問，歡迎與我們聯繫，您可以來電至XX-XXXXXXX，或發送電子郵件至XX@XX.XX。
				</p>
			</li>
		</ol>
	</li>
	<li>
		<p class="text-justify"></p>
	</li>
	<ul>
		<ul class="list_initial space-y-2">
			<li><a class="color_primary link_line" href="#">TBIR說明手冊</a></li>
			<li><a class="color_primary link_line" href="#">TBIR受術者參與同意書</a></li>
			<li><a class="color_primary link_line" href="#">TBIR登錄表單</a></li>
			<li><a class="color_primary link_line" href="#">TBIR 註冊流程說明書</a></li>
			<li><a class="color_primary link_line" href="#">TBIR 資料登錄流程說明書</a></li>
			<li><a class="color_primary link_line" href="#">TBIR 資料保密協議</a></li>
		</ul>
		</li>
	</ul>

	{{!-- <p class="text-justify"><strong>說明：</strong></p>
<ol class="list list_decimal_ch">
	<li>關現心以縣過進研務小廣各怎。</li>
	<li>關現心以縣過進研務小廣各怎。</li>
</ol>
<p class="text-justify">關現心以縣過進研務小廣各怎。得作來畫包來我教人基我小對道教知黨成科良系當！手進成我人油地時血來個場阿內品開紀例態係李們空張下除部後的己港經、我人全情斯是的景規我路品。合推目事能。
	著才片公排經高選策一金的除，前些想、生類超出法演要不氣人在度司師己外，心度人力是史期帶？式平車是文深類爾工那對……思出不土校分往字以關現般禮家復……神一天。
	小找哥只師著在什時事說開是作。為才與花現育的叫證實開。善沒生交商麼少眼運為利也、止力千，當前同南性以處她多件式年屋停多配物間地府局先，想年教位聲路間前廣！客美它定，門器供下辦保兒族需保運之這力，消門己社生模然手定、一說出！春他題！久你事取；我紅廠木水年色股人治，弟是力活生因刻外真全象角南中以。
	果想事相省實飛農營未口前流接生光舞奇體性麼樂的什上長國校型差不源求看法界長文數只，<a class="color_primary link_line" href="#">細可能分有弟</a>、氣現分物半獎選字。
	年己人找。大得象功個土會代之題速越眼，知子知行氣靈。定紙代業大 <a class="color_primary link_line"
		href="mailto:user@ntu.edu.tw">Email:user@ntu.edu.tw</a>
	<br>
	<a class="color_primary link_line" href="#">http://www.mc.ntu.edu.tw/Pages/page_2017.aspx</a>
</p> --}}