{{>pagination}}
<ul class="list_initial browser-default" uk-accordion="multiple: true">
	<li class="uk-open">
		<a class="font-medium text-base pb-1 uk-accordion-title" href="#">Q1.我是否需要支付任何費用？</a>
		<div class="m-0 pt-1 uk-accordion-content">
			<p>A: 不需要，不論您在註冊或登錄的過程中，TBIR皆不會與您收取任何費用。</p>
		</div>
	</li>
</ul>
<!-- /accordion -->
{{>pagination}}