<h3>{{h3Title}}</h3>
<div class="editor table" uk-margin>
	<ul>
		<li>
			L1
			<ul>
				<li>L2</li>
				<li>
					L2
					<ul>
						<li>L3 item</li>
						<li>L3 item</li>
						<li>
							<a><span>張制成節打去說行，書孩個體苦做，行習高人可看舉在什但優！是馬此有組，樹親生信意美大過產立！來靜我故半演們種熱光……或該更。開經功家可了，命化臺到陸產文老如然節，身初把，步信女背切不張財前日指統假？所文影清是，方此小了合國子易連體德利會之的參，馬方不了機圖都至展有別開場來裡了覺對活的，時做建了力國廠委果分一備女進小功創有？那給國靜球學動他藝轉明、化漸飯不</span></a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<ol>
		<li>
			L1
			<ol>
				<li>L2</li>
				<li>
					L2
					<ol>
						<li>L3 item</li>
						<li>L3 item</li>
						<li>L3 item</li>
					</ol>
				</li>
			</ol>
		</li>
	</ol>
	{{!-- <ul class="list_arrow">
		<li>L1</li>
		<li>
			L1
			<ul class="list_arrow">
				<li>L2</li>
				<li>
					L2
					<ul class="list_arrow">
						<li>L3 item</li>
						<li>L3 item</li>
						<li>L3 item</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul> --}}
	<div class="bg-gray-300 uk-card uk-card-body">
		<h3>Primary</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	</div>
	<h1>標題文字-h1</h1>
	<h2>標題文字-h2</h2>
	<h3>標題文字-h3</h3>
	<p class="h3">標題文字-h3</p>
	<h4>標題文字-h4</h4>
	<p class="h4">標題文字-h4</p>
	<h5>標題文字-h5</h5>
	<p class="h5">標題文字-h5</p>
	<h6>標題文字-h6</h6>
	<p class="h6">標題文字-h6</p>
	<p><a href="#">http://sample.com.tw</a>，書孩個體苦做，行習高人可看舉在什但優！是馬此有組，樹親生信意美大過產立！來靜我故半演們種熱光……或該更。開經功家可了，命化臺到陸產文老如然節，身初把，步信女背切不張財前日指統假？所文影清是，方此小了合國子易連體德利會之的參，馬方不了機圖都至展有別開場來裡了覺對活的，時做建了力國廠委果分一備女進小功創有？那給國靜球學動他藝轉明、化漸飯不！
	</p>
	<div class="grid-container my-3">
		<div class="uk-child-width-expand@m uk-grid-small" uk-margin uk-grid>
			<div>
				<div class="bg-gray-100 h-full uk-card uk-card-body">
					<p class="bg-gray-400 px-2 mb-2"><strong class="font-semibold text-black">標題文字</strong></p>
					<ul>
						<li>書孩個體苦做</li>
						<li>書孩個體苦做</li>
						<li>書孩個體苦做</li>
						<li>書孩個體苦做</li>
					</ul>
				</div>
			</div>
			<div>
				<div class="bg-gray-100 h-full uk-card uk-card-body">
					<p class="bg-gray-400 px-2 mb-2"><strong class="font-semibold text-black">標題文字</strong class="font-semibold"></p>
					<ul>
						<li>那給國靜球學動他</li>
						<li>那給國靜球學動他</li>
						<li>那給國靜球學動他</li>
						<li>那給國靜球學動他</li>
						<li>那給國靜球學動他</li>
						<li>那給國靜球學動他</li>
					</ul>
				</div>
			</div>
			<div>
				<div class="bg-gray-100 h-full uk-card uk-card-body">
					<div class="h-full uk-flex uk-flex-middle uk-flex-center">
						<a href="#">那給國靜球學動他</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<table border="1" cellpadding="0" cellspacing="0" width="784">
		<thead>
			<tr height="22">
				<th headers="_180" height="22" style="text-align: left; width: 20%;">Hours</th>
				<th id="_180" style="text-align: left;" width="64">Monday</th>
				<th headers="_55" style="text-align: left;" width="64">Tuesday</th>
				<th style="text-align: left;" width="64">Wednesday</th>
				<th style="text-align: left;" width="64">Thursday</th>
				<th style="text-align: left;" width="64">Friday</th>
			</tr>
		</thead>
		<tbody>
			<tr height="22">
				<td headers="_57" height="22" width="64"><span class="heading">Heading1</span>Morning 9:00-12:00
				</td>
				<td headers="_58" width="64"><span class="heading">Heading2</span>X</td>
				<td headers="_59" width="64"><span class="heading">Heading3</span>X</td>
				<td id="_60" width="64"><span class="heading">Heading4</span>X</td>
				<td headers="_61" width="64"><span class="heading">Heading5</span>X</td>
				<td headers="_62" width="64"><span class="heading">Heading6</span>X</td>
			</tr>
			<tr height="22">
				<td headers="_63" height="22" width="64"><span class="heading">Heading1</span>Afternoon 1:30-4:30
				</td>
				<td headers="_64" width="64"><span class="heading">Heading2</span>X</td>
				<td headers="_65" width="64"><span class="heading">Heading3</span>X</td>
				<td headers="_66" width="64"><span class="heading">Heading4</span>X</td>
				<td headers="_67" width="64"><span class="heading">Heading5</span>X</td>
				<td headers="_68" width="64"><span class="heading">Heading6</span>X</td>
			</tr>
		</tbody>
	</table>
	<table border="1" width="50%">
		<caption>Table-有外框無間距 width="50%，在手機版自動寬度100%"</caption>
		<thead>
			<tr>
				<th style="color: red; font-weight: bolder; font-family: '細明體';">欄位1</th>
				<th>欄位2</th>
				<th>欄位3</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="color: blue; font-weight: bolder; font-family: '細明體'; font-size: 24px;">細明體</td>
				<td>預設黑體文字</td>
				<td>Table Footer</td>
			</tr>
			<tr>
				<td>Table Data</td>
				<td>Table Data</td>
				<td>Table Data</td>
			</tr>
		</tbody>
	</table>
	<table border="0" cellspacing="20">
		<caption>Table-無外框有間距20</caption>
		<thead>
			<tr>
				<th>Table Heading</th>
				<th>Table Heading</th>
				<th>Table Heading</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Table Footer</td>
				<td>Table Footer</td>
				<td>Table Footer</td>
			</tr>
			<tr>
				<td>Table Data</td>
				<td>Table Data</td>
				<td>Table Data</td>
			</tr>
		</tbody>
	</table>
	<table border="1" cellspacing="10" style="width: 80%;">
		<caption>Table-有外框有間距10</caption>
		<thead>
			<tr>
				<th>Table Heading</th>
				<th>Table Heading</th>
				<th>Table Heading</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Table Footer</td>
				<td>Table Footer</td>
				<td>Table Footer</td>
			</tr>
			<tr>
				<td>Table Data</td>
				<td>Table Data</td>
				<td>Table Data</td>
			</tr>
		</tbody>
	</table>
</div>