<!-- footer -->
<div id="footer" class="mt-4 relative">
	<hr class="opacity-15 border-black">
	<div class="p-3">
		<div class="container_responsive@s uk-container relative">
			{{!-- <div class="bg-gradient-to-r from-transparent via-black to-transparent h-px"></div> --}}
			<footer class="text-center uk-flex-top uk-grid uk-grid-small" uk-grid>
				<div class="uk-width-1-1" uk-margin>
					<div class="uk-grid uk-grid-small uk-child-width-expand" uk-grid uk-margin>
						<div class="min_width-140! min_width-1/6!@l"><a href="http://webpac.cgu.edu.tw:81/ipac20/ipac.jsp?profile=cgul">館藏資料 iPac</a></div>
						<div class="uk-visible@s">|</div>
						<div class="min_width-140! min_width-1/6!@l"><a href="http://db.lib.cgu.edu.tw/">資料庫總覽</a></div>
						<div class="uk-visible@s">|</div>
						<div class="min_width-140! min_width-1/6!@l"><a href="http://meta.cgu.edu.tw:3210/sfx_cgu3/az/default?&param_perform_value=citation">全文期刊 SFX</a></div>
						<div class="uk-visible@s">|</div>
						<div class="min_width-140! min_width-1/6!@l"><a href="mailto:libwww@mail.cgu.edu.tw">詢問館員 Ask Us</a></div>
						<div class="uk-visible@s">|</div>
						<div class="min_width-140! min_width-1/6!@l"><a href="http://recmd.lib.cgu.edu.tw/RAMS_CGUST/%E9%95%B7%E5%BA%9A%E5%A4%A7%E5%AD%B8%E5%9C%96%E6%9B%B8%E9%A4%A8%E8%96%A6%E8%B3%BC%E7%B3%BB%E7%B5%B1_%E8%AE%80%E8%80%85%E6%93%8D%E4%BD%9C%E6%89%8B%E5%86%8A_1070601%E4%BF%AE%E8%A8%82.pdf">讀者操作手冊</a></div>
					</div>
				</div>
				<div class="uk-width-1-1" uk-margin>
					<div class="uk-flex-center uk-grid uk-grid-small" uk-grid uk-margin>
						<div><a class="px-2" href="">圖書資料推薦 (圖採組分機 3600)</a></div>
						<div class="uk-visible@s">·</div>
						<div><a class="px-2" href="">視聽資料推薦 (視聽組分機 5976)</a></div>
						<div class="uk-visible@s">·</div>
						<div><a class="px-2" href="">資料庫推薦 (參考組分機 5622)</a></div>
					</div>
				</div>
				<div class="uk-width-1-1" uk-margin>
					<small class="text-xs">長庚科技大學 圖書資訊處 Copyright © 2020 All rights reserved</small>
				</div>
				{{!-- <div class="space-x-2 s:m-0 uk-flex uk-flex-middle uk-width-auto">
					<a class="min_width-90 text-xs text-center border border-black border-solid px-2 py-1" href="#">隱私權與安全政策</a>
					<a class="opacity-75 hover:opacity-100" href="#" title="無障礙AA標章" target="_blank"><img src="img/accessibilityAA.jpg" alt="無障礙AA標章" width="85"></a>
				</div> --}}
			</footer>
		</div>
		<!-- End container_responsive@s uk-container -->
	</div>
</div>
<!-- footer -->

<a id="gototop"
	class="color_white bg_black_opacity-50 hover:bg_black_opacity-70 opacity-0 no-underline p-2 rounded uk-text-center uk-position-fixed uk-position-small uk-position-bottom-right"
	href="#top" title="回到最上" uk-scroll uk-totop><span class="sr-only">回到最上</span></a>