<!-- footer -->
<div id="footer" class="relative">
	<div class="p-3">
		<div class="container_responsive@s uk-container relative">
			<div class="relative uk-position-z-index"><a
					class="no-underline text-white px-1 uk-position-absolute uk-visible@m" href="#Z" id="AZ" name="Z"
					title="下方功能區塊" accesskey="Z" style="top:-2px; left:-30px">:::</a></div>

			<!-- #sitemap -->
			{{!-- <div id="sitemap" class="my-1 uk-margin-bottom" uk-margin hidden>
				<div class="mb-3 uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-child-width-1-6@l"
					uk-grid="masonry: true">
					<div class="uk-text-break">
						<p class="border border-solid font-medium mb-1 px-1"><a class="hover:text-white" href="#">Title (Link)</a>
						</p>
						<a class="hover:text-white" href="#">Item</a>
						<a class="hover:text-white" href="#">Item</a>
					</div>
					<div class="uk-text-break">
						<p class="border border-solid font-medium mb-1 px-1">Title</p>
						<a class="hover:text-white" href="#">Item</a>
						<a class="hover:text-white" href="#">Item</a>
						<a class="hover:text-white" href="#">Item</a>
						<a class="hover:text-white" href="#">得縣花期時媽要得親女公門</a>
						<a class="hover:text-white" href="#">Item</a>
					</div>
					<div class="uk-text-break">
						<p class="border border-solid font-medium mb-1 px-1">Title</p>
						<a class="hover:text-white" href="#">Item</a>
						<a class="hover:text-white" href="#">Item</a>
						<a class="hover:text-white" href="#">Item</a>
					</div>
					<div class="uk-text-break">
						<p class="border border-solid font-medium mb-1 px-1">Title</p>
						<a class="hover:text-white" href="#">Item</a>
						<a class="hover:text-white" href="#">Item</a>
						<a class="hover:text-white" href="#">Item</a>
						<a class="hover:text-white" href="#">Item</a>
						<a class="hover:text-white" href="#">Item</a>
						<a class="hover:text-white" href="#">Item</a>
						<a class="hover:text-white" href="#">得縣花期時媽要得親女公門</a>
						<a class="hover:text-white" href="#">Item</a>
					</div>
					<div class="uk-text-break">
						<p class="border border-solid font-medium mb-1 px-1">Title</p>
						<a class="hover:text-white" href="#">Item</a>
						<a class="hover:text-white" href="#">Item</a>
						<a class="hover:text-white" href="#">Item</a>
					</div>
					<div class="uk-text-break">
						<p class="border border-solid font-medium mb-1 px-1">Title</p>
						<a class="hover:text-white" href="#">Item</a>
						<a class="hover:text-white" href="#">Item</a>
					</div>
					<div class="uk-text-break">
						<p class="border border-solid font-medium mb-1 px-1">Title</p>
						<a class="hover:text-white" href="#">Item</a>
						<a class="hover:text-white" href="#">Item</a>
						<a class="hover:text-white" href="#">Item</a>
						<a class="hover:text-white" href="#">Item</a>
						<a class="hover:text-white" href="#">Item</a>
						<a class="hover:text-white" href="#">Item</a>
						<a class="hover:text-white" href="#">得縣花期時媽要得親女公門</a>
						<a class="hover:text-white" href="#">Item</a>
					</div>
				</div>
				<hr class="border-light">
			</div> --}}
			<!-- #sitemap -->

			{{!-- <div class="bg-gradient-to-r from-transparent via-black to-transparent h-px"></div> --}}

			<footer class="uk-flex-top uk-grid uk-grid-divider uk-grid-small uk-child-width-expand@m" uk-grid>
				<div uk-margin>
					<div class="uk-grid" uk-grid uk-margin>
						<div><strong>中央研究院近代史研究所圖書館</strong> 著作權聲明 Copyright © 2020 All rights reserved</div>
						<div>本館地址：台北市115201南港區研究院路二段128號．開館時間：週一至週五 08:30~17:00．最佳瀏覽解析度為1024x768以上</div>
						<div>電話：886-2-2789-8291．傳真：886-2-2789-8289．電子信箱：<a
								href="mailto:sevlibs@gate.sinica.edu.tw">sevlibs@gate.sinica.edu.tw</a></div>
					</div>
				</div>
				<div class="space-x-2 s:m-0 uk-flex uk-flex-middle uk-width-auto">
					{{!-- <a class="bg_black min_width-90 text-xs text-center no-underline px-2 py-1" href="#" uk-toggle="target: #sitemap">網站地圖</a> --}}
					<a class="min_width-90 text-xs text-center border border-black border-solid px-2 py-1" href="#">隱私權與安全政策</a>
					<a class="opacity-75 hover:opacity-100" href="#" title="無障礙AA標章" target="_blank"><img
							src="img/accessibilityAA.jpg" alt="無障礙AA標章" width="85"></a>
				</div>
			</footer>
		</div>
		<!-- End container_responsive@s uk-container -->
	</div>
</div>
<!-- footer -->

<a id="gototop"
	class="color_white bg_black_opacity-50 hover:bg_black_opacity-70 opacity-0 no-underline p-2 rounded uk-text-center uk-position-fixed uk-position-small uk-position-bottom-right"
	href="#top" title="回到最上" uk-scroll uk-totop><span class="sr-only">回到最上</span></a>