<header class="shadow relative">
	<nav class="bg_primary py-1 text-center relative uk-visible@m" uk-margin>
		<div class="px-2 m:px-4 py-1 uk-container">
			<div class="sub_nav margin_x_child text-sm h-full uk-flex uk-flex-center uk-flex-middle" uk-margin>
				<span class="uk-visible@m"><a class="px-2" href="#U" id="AU" name="U" title="上方功能區塊" accesskey="U"
						style="padding-bottom: 3px;">:::</a></span>
				<span><a class="px-2" href="#">回首頁</a></span>
				<span><a class="px-2" href="#">常見問題</a></span>
				<span><a class="px-2" href="#">聯絡我們</a></span>
				<!-- <span>｜</span>
          <span class="hover_bg"><a class="px-2" href="#">English</a></span>
          <span class="hover_bg"><a class="px-2" href="#">日本語</a></span> -->
			</div>
		</div>
	</nav>
	<div class="shadow" uk-sticky="media: (max-width: 959px); animation: uk-animation-slide-top; top: 200">
		<nav class="bg-gray-100 shadow-none">
			<div class="bg_primary">
				<div class="px-2 m:px-4 py-1 uk-container uk-navbar" uk-navbar>
					<div class="uk-width-4-5 uk-width-2-3@s uk-width-1-2@m uk-navbar-left">
						<h1 class="w-full uk-flex uk-flex-middle">
							<a class="logo" href="index.html" title="{{title}}">
								<img data-src="img/logo-white.png" width="910" height="72" alt="{{title}}" uk-img>
							</a>
						</h1>
					</div>
					<div class="uk-visible@m uk-navbar-right">
						<div class="sub_nav margin_x_child h-full uk-flex uk-flex-middle" uk-margin>
							<!-- <span><a class="px-2" href="#">回首頁</a></span>
                <span><a class="px-2" href="#">常見問題</a></span>
                <span><a class="px-2" href="#">聯絡我們</a></span> -->
							<span class="text_size text_size-s hover_bg"><button class="text-white px-2 uk-button"
									title="縮小字級">A-</button></span>
							<span class="text_size text_size-m hover_bg active"><button class="text-white px-2 uk-button"
									title="適中字級">A</button></span>
							<span class="text_size text_size-l hover_bg"><button class="text-white px-2 uk-button"
									title="加大字級">A+</button></span>
						</div>
					</div>
					<div class="uk-width-1-5 uk-flex-right uk-navbar-right uk-hidden@m">
						<button class="text-white px-0 uk-flex uk-flex-right uk-navbar-toggle" uk-navbar-toggle-icon
							uk-toggle="target: #offcanvas"></button>
					</div>
				</div>
			</div>
			<div class="container_responsive@s uk-flex uk-visible@m uk-container uk-navbar" uk-navbar>
				<div class="uk-navbar-center">
					<ul class="nav_bar nav_bar-primary uk-tab uk-light">
						<li hidden></li>
						<li>
							<a class="text-base font-bold color_primary!" href="#"
								onmouseover="viewHeight('.nav_bar [uk-dropdown]', 'header')">最新動態</a>
							<div class="bg_white_opacity-90 uk-overflow-auto uk-dropdown" uk-dropdown="offset: 0">
								<ul class="nav_header-dotted uk-nav uk-dropdown-nav">
									<li class="mt-0 uk-nav-header"><a class="hover:underline text-base" href="#">Itim</a></li>
									<li class="mt-0 uk-nav-header"><a class="hover:underline text-base" href="#">Itim</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a class="text-base font-bold color_primary!" href="#"
								onmouseover="viewHeight('.nav_bar [uk-dropdown]', 'header')">認識合作網</a>
							<div class="bg_white_opacity-90 uk-overflow-auto uk-dropdown" uk-dropdown="offset: 0">
								<ul class="nav_header-dotted uk-nav uk-dropdown-nav">
									<li class="mt-0 uk-nav-header">
										<a class="hover:underline text-base" href="#">Itim</a>
										<ul class="uk-nav-sub">
											<li><a class="hover:underline text-base" href="#">Sub item</a></li>
											<li><a class="hover:underline text-base" href="#">Sub item</a></li>
										</ul>
									</li>
									<li class="mt-0 uk-nav-header">
										<a class="hover:underline text-base" href="#">Itim</a>
										<ul class="uk-nav-sub">
											<li><a class="hover:underline text-base" href="#">Sub item</a></li>
											<li><a class="hover:underline text-base" href="#">Sub item</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a class="text-base font-bold color_primary!" href="#"
								onmouseover="viewHeight('.nav_bar [uk-dropdown]', 'header')">服務項目</a>
							<div class="bg_white_opacity-90 uk-overflow-auto uk-dropdown" uk-dropdown="offset: 0">
								<ul class="nav_header-dotted uk-nav uk-dropdown-nav">
									<li class="mt-0 uk-nav-header">
										<a class="hover:underline text-base" href="#">Itim</a>
										<ul class="uk-nav-sub">
											<li>
												<a class="hover:underline text-base" href="#">Sub item</a>
												<ul>
													<li><a class="hover:underline text-base" href="#">Sub item</a></li>
													<li><a class="hover:underline text-base" href="#">Sub item</a></li>
												</ul>
											</li>
											<li>
												<a class="hover:underline text-base" href="#">Sub item</a>
												<ul>
													<li><a class="hover:underline text-base" href="#">Sub item</a></li>
													<li><a class="hover:underline text-base" href="#">Sub item</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li class="mt-0 uk-nav-header">
										<a class="hover:underline text-base" href="#">Itim</a>
										<ul class="uk-nav-sub">
											<li>
												<a class="hover:underline text-base" href="#">Sub item</a>
												<ul>
													<li><a class="hover:underline text-base" href="#">Sub item</a></li>
													<li><a class="hover:underline text-base" href="#">Sub item</a></li>
												</ul>
											</li>
											<li>
												<a class="hover:underline text-base" href="#">Sub item</a>
												<ul>
													<li><a class="hover:underline text-base" href="#">Sub item</a></li>
													<li><a class="hover:underline text-base" href="#">Sub item</a></li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</li>
						<li><a class="text-base font-bold color_primary!" href="#"
								onmouseover="viewHeight('.nav_bar [uk-dropdown]', 'header')">電子資源</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div id="offcanvas" uk-offcanvas>
		<div class="bg_primary-dark py-5 uk-offcanvas-bar">
			<button class="uk-offcanvas-close" type="button" title="刪除" uk-close></button>
			<ul class="uk-nav uk-nav-default text-white">
				<li class="py-1 uk-parent">
					<div class="flex">
						<a class="flex-1 flex items-center" href="#">最新動態</a>
						<a class="flex-1 flex items-center justify-end" href="#" title="展開/收合選單"
							onclick="toggleAllClass(findChildren(findParent(this, 'LI'), '.toggle'), 'hidden'); return false;"><span
								class="toggle" uk-icon="icon: chevron-right"></span><span class="toggle hidden"
								uk-icon="icon: chevron-down"></span></a>
					</div>
					<ul class="toggle hidden uk-nav-sub">
						<li><a class="mx-2" href="#">Item</a></li>
						<li><a class="mx-2" href="#">Item</a></li>
					</ul>
				</li>
				<li class="py-1 uk-parent">
					<div class="flex">
						<a class="flex-1 flex items-center" href="#">認識合作網</a>
						<a class="flex-1 flex items-center justify-end" href="#" title="展開/收合選單"
							onclick="toggleAllClass(findChildren(findParent(this, 'LI'), '.toggle'), 'hidden'); return false;"><span
								class="toggle" uk-icon="icon: chevron-right"></span><span class="toggle hidden"
								uk-icon="icon: chevron-down"></span></a>
					</div>
					<ul class="toggle hidden uk-nav-sub">
						<li class="mt-0 uk-nav-header">
							<span>Itim</span>
							<ul class="uk-nav-sub">
								<li><a class="mx-2" href="#">Sub item</a></li>
								<li><a class="mx-2" href="#">Sub item</a></li>
							</ul>
						</li>
						<li class="mt-0 uk-nav-header">
							<span>Itim</span>
							<ul class="uk-nav-sub">
								<li><a class="mx-2" href="#">Sub item</a></li>
								<li><a class="mx-2" href="#">Sub item</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="py-1 uk-parent">
					<div class="flex">
						<a class="flex-1 flex items-center" href="#">服務項目</a>
						<a class="flex-1 flex items-center justify-end" href="#" title="展開/收合選單"
							onclick="toggleAllClass(findChildren(findParent(this, 'LI'), '.toggle'), 'hidden'); return false;"><span
								class="toggle" uk-icon="icon: chevron-right"></span><span class="toggle hidden"
								uk-icon="icon: chevron-down"></span></a>
					</div>
					<ul class="toggle hidden uk-nav-sub">
						<li class="mt-0 uk-nav-header">
							<span>Itim</span>
							<ul class="uk-nav-sub">
								<li>
									<a class="mx-2" href="#">Sub item</a>
									<ul>
										<li><a class="mx-2" href="#">Sub item</a></li>
										<li><a class="mx-2" href="#">Sub item</a></li>
									</ul>
								</li>
								<li>
									<a class="mx-2" href="#">Sub item</a>
									<ul>
										<li><a class="mx-2" href="#">Sub item</a></li>
										<li><a class="mx-2" href="#">Sub item</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="mt-0 uk-nav-header">
							<span>Itim</span>
							<ul class="uk-nav-sub">
								<li>
									<a class="mx-2" href="#">Sub item</a>
									<ul>
										<li><a class="mx-2" href="#">Sub item</a></li>
										<li><a class="mx-2" href="#">Sub item</a></li>
									</ul>
								</li>
								<li>
									<a class="mx-2" href="#">Sub item</a>
									<ul>
										<li><a class="mx-2" href="#">Sub item</a></li>
										<li><a class="mx-2" href="#">Sub item</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="py-1 uk-parent">
					<div class="flex">
						<a class="flex-1 flex items-center" href="#">電子資源</a>
						<a class="flex-1 flex items-center justify-end" href="#" title="展開/收合選單"
							onclick="toggleAllClass(findChildren(findParent(this, 'LI'), '.toggle'), 'hidden'); return false;"><span
								class="toggle" uk-icon="icon: chevron-right"></span><span class="toggle hidden"
								uk-icon="icon: chevron-down"></span></a>
					</div>
					<ul class="toggle hidden uk-nav-sub">
						<li><a class="mx-2" href="#">Item</a></li>
						<li><a class="mx-2" href="#">Item</a></li>
					</ul>
				</li>
				<li class="uk-nav-divider"></li>
				<li><a href="#">回首頁</a></li>
				<li><a href="#">常見問題</a></li>
				<li><a href="#">聯絡我們</a></li>
			</ul>
		</div>
	</div>
	<hr class="border_black_opacity-20 m-0">
</header>
<!-- header -->