<!-- header -->
<header class="shadow">
	{{!-- <nav class="bg_primary py-1 text-center relative uk-visible@m" uk-margin>
		<div class="px-4 m:py-1 uk-container">
			<div class="sub_nav margin_x_child text-sm h-full uk-flex uk-flex-center uk-flex-middle" uk-margin>
				<span class="uk-visible@m"><a class="px-2" href="#U" id="AU" name="U" title="上方功能區塊" accesskey="U"
						style="padding-bottom: 3px;">:::</a></span>
				<span><a class="px-2" href="index.html">回首頁</a></span>
				<span><a class="px-2" href="#">常見問題</a></span>
				<span><a class="px-2" href="#">聯絡我們</a></span>
			</div>
		</div>
	</nav> --}}
	<div class="shadow-xl uk-sticky" uk-sticky="media: (max-width: 959px)">
		<nav>
			<div class="relative">
				<div class="bg-white opacity-85 uk-position-cover"></div>
				<div class="px-4 m:py-1 uk-container">
					<div class="uk-flex-middle uk-grid uk-grid-small uk-grid-match uk-child-width-expand" uk-grid>
						<div class="uk-position-z-index">
							<h1 class="m-0 uk-flex uk-flex-middle">
								<a class="logo" href="index.html" title="{{title}}">
									<img class="uk-preserve" data-src="img/logo.svg" data-width data-height alt="{{title}}" uk-img uk-svg>
								</a>
							</h1>
						</div>
						<div class="m-0 relative uk-width-auto uk-visible@m">
							<div class="sub_nav text-sm uk-flex uk-flex-middle">
								<div>
									<span><a class="px-2" href="index.html">首頁</a></span>
									<span><a class="px-2" href="http://library.cgu.edu.tw/" target="_blank">圖書館</a></span>
									<span><a class="px-2" href="http://aleph.cgu.edu.tw/F?func=find-b-0&local_base=fly03"
											target="_blank">明志科大館藏目錄</a></span>
									{{!-- <span><a class="px-2" href="#">我要推薦</a></span>
									<div class="min_width-50 uk-dropdown" uk-dropdown>
										<ul class="uk-nav uk-dropdown-nav">
											<li><a class="hover:underline py-2" href="#search" uk-toggle>推薦資料</a></li>
											<li><a class="hover:underline py-2" href="06recommend.html">推薦資料總覽</a></li>
										</ul>
									</div>
									<span><a class="px-2" href="06person.html">個人推薦資料</a></span> --}}
									<span><a class="px-2" href="#">English</a></span>
								</div>
								{{!-- <span class="text-white">|</span> --}}
								<span><button class="color_primary border-none l:pr-0 uk-button uk-button-default" type="button"
										title="註冊/登入/登出"><i class="-mb-1 fas fa-user-circle fa-lg"></i></button></span>
								<div class="min_width-50 uk-dropdown" uk-dropdown>
									<ul class="uk-nav uk-dropdown-nav">
										<li><a class="hover:underline py-2" href="#register" uk-toggle>註冊</a></li>
										<li><a class="hover:underline py-2" href="#login" uk-toggle>登入</a></li>
										<li><a class="hover:underline py-2" href="index.html">登出</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="uk-flex-nowrap uk-width-auto uk-hidden@m">
							<div class="uk-inline">
								<button class="color_primary border-none h-full uk-button uk-button-default" type="button"
									title="註冊/登入/登出"><i class="-mb-1 fas fa-user-circle fa-lg"></i></button>
								<div class="min_width-50 uk-dropdown" uk-dropdown="pos: bottom-right">
									<ul class="uk-nav uk-dropdown-nav">
										<li><a class="hover:underline py-2" href="#register" uk-toggle>註冊</a></li>
										<li><a class="hover:underline py-2" href="#login" uk-toggle>登入</a></li>
										<li><a class="hover:underline py-2" href="index.html">登出</a></li>
									</ul>
								</div>
							</div>
							<button class="min_width-30! color_primary px-0 uk-flex uk-flex-right uk-navbar-toggle"
								uk-navbar-toggle-icon uk-toggle="target: #offcanvas"></button>
						</div>
					</div>
				</div>
			</div>
			<div class="relative">
				<div class="bg_primary opacity-85 uk-position-cover"></div>
				<div class="container_responsive@s uk-flex uk-visible@m uk-container uk-navbar" uk-navbar>
					<div class="uk-navbar-center">
						<ul class="nav_bar nav_bar-secondary m-0 uk-tab uk-light">
							<li hidden></li>
							<li{{#if 01active}} class="uk-active"{{/if}}>
								<a class="text-base font-bold text-white" href="01search.html"
									onmouseover="viewHeight('.nav_bar [uk-dropdown]', 'header')">館藏查詢</a>
							</li>
							<li{{#if 02active}} class="uk-active"{{/if}}>
								<a class="text-base font-bold text-white" href="02journals.html"
									onmouseover="viewHeight('.nav_bar [uk-dropdown]', 'header')">期刊</a>
								{{!-- <div class="bg_white_opacity-90 uk-overflow-auto uk-dropdown" uk-dropdown="offset: 0">
									<ul class="nav_header-dotted uk-nav uk-dropdown-nav">
										<li class="mt-0 uk-nav-header">
											<a class="hover:underline text-base" href="#">Item</a>
										</li>
										<li class="mt-0 uk-nav-header">
											<a class="hover:underline text-base" href="#">Item</a>
										</li>
									</ul>
								</div> --}}
							</li>
							<li{{#if 03active}} class="uk-active"{{/if}}>
								<a class="text-base font-bold text-white" href="03reference.html"
									onmouseover="viewHeight('.nav_bar [uk-dropdown]', 'header')">教師指定用書</a>
								{{!-- <div class="bg_white_opacity-90 uk-overflow-auto uk-dropdown" uk-dropdown="offset: 0">
									<ul class="nav_header-dotted uk-nav uk-dropdown-nav">
										<li class="mt-0 uk-nav-header">
											<a class="hover:underline text-base" href="#">Item</a>
										</li>
										<li class="mt-0 uk-nav-header">
											<a class="hover:underline text-base" href="#">Item</a>
											<ul class="hidden_ie uk-nav-sub">
												<li><a class="hover:underline text-base" href="#">SubItem</a></li>
												<li><a class="hover:underline text-base" href="#">SubItem</a></li>
											</ul>
										</li>
										<li class="mt-0 uk-nav-header">
											<a class="hover:underline text-base" href="#">Item</a>
										</li>
										<li class="mt-0 uk-nav-header">
											<a class="hover:underline text-base" href="#">Item</a>
										</li>
									</ul>
								</div> --}}
							</li>
							<li{{#if 04active}} class="uk-active"{{/if}}><a class="text-base font-bold text-white" href="04latest.html"
									onmouseover="viewHeight('.nav_bar [uk-dropdown]', 'header')">新書目錄</a></li>
							<li{{#if 05active}} class="uk-active"{{/if}}><a class="text-base font-bold text-white" href="05hot.html"
									onmouseover="viewHeight('.nav_bar [uk-dropdown]', 'header')">熱門排行</a></li>
							<li{{#if 06active}} class="uk-active"{{/if}}>
								<a class="text-base font-bold text-white" href="#"
									onmouseover="viewHeight('.nav_bar [uk-dropdown]', 'header')">我要推薦</a>
								<div class="bg_white_opacity-90 uk-overflow-auto uk-dropdown" uk-dropdown="offset: 0">
									<ul class="nav_header-dotted uk-nav uk-dropdown-nav">
										<li class="mt-0 uk-nav-header">
											<a class="hover:underline text-base" href="#search" uk-toggle>推薦資料</a>
										</li>
										<li class="mt-0 uk-nav-header">
											<a class="hover:underline text-base" href="06recommend.html">推薦資料總覽</a>
										</li>
										<li class="mt-0 uk-nav-header">
											<a class="hover:underline text-base" href="06person.html">個人推薦資料</a>
										</li>
									</ul>
								</div>
							</li>
							<li><a class="text-base font-bold text-white" href="http://primo.lib.cgu.edu.tw:8991/pds?func=load-login&calling_system=aleph&institute=FLY51&url=http://aleph.cgu.edu.tw/F?func=find-b-0&local_base=space&CON_LNG=chi"
									onmouseover="viewHeight('.nav_bar [uk-dropdown]', 'header')" target="_blank">討論室/設備預約</a></li>
							<li><a class="text-base font-bold text-white" href="http://web20.lib.cgu.edu.tw/accounts/login/" target="_blank"
									onmouseover="viewHeight('.nav_bar [uk-dropdown]', 'header')">個人化服務</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<hr class="border_black_opacity-20 m-0">
	</div>
	<div id="offcanvas" class="uk-offcanvas" uk-offcanvas>
		<div class="bg_primary py-5 uk-offcanvas-bar">
			<button class="uk-offcanvas-close" type="button" title="刪除" uk-close></button>
			<ul class="pt-6 uk-nav uk-nav-default">
				<li class="py-1 uk-parent">
					<a class="p-0" href="01search.html"><span class="text-white">館藏查詢</span></a>
				</li>
				<li class="py-1 uk-parent">
					<a class="p-0" href="02journals.html"><span class="text-white">期刊</span></a>
					{{!-- <div class="flex justify-between">
						<a class="flex flex-1 items-center" href="#"><span class="text-white">期刊</span></a>
						<a class="flex flex-none items-start justify-end pt-px w-16" href="javascript:void(0)" title="展開/收合選單"><span
								class="toggle uk-icon" uk-icon="icon: chevron-right"></span><span class="toggle hidden uk-icon"
								uk-icon="icon: chevron-down"></span class="toggle"></a>
					</div>
					<ul class="toggle hidden uk-nav-sub">
						<li class="pr-5"><a href="#"><span class="text-white text-opacity-50">Item</span></a>
						</li>
						<li class="pr-5"><a href="#"><span class="text-white text-opacity-50">Item</span></a>
						</li>
					</ul> --}}
				</li>
				<li class="py-1 uk-parent">
					<a class="p-0" href="03reference.html"><span class="text-white">教師指定用書</span></a>
					{{!-- <div class="flex justify-between">
						<a class="flex flex-1 items-center" href="#"><span class="text-white">教師指定用書</span></a>
						<a class="flex flex-none items-start justify-end pt-px w-16" href="javascript:void(0)" title="展開/收合選單"><span
								class="toggle uk-icon" uk-icon="icon: chevron-right"></span><span class="toggle hidden uk-icon"
								uk-icon="icon: chevron-down"></span class="toggle"></a>
					</div>
					<ul class="toggle hidden uk-nav-sub">
						<li class="pr-5"><a href="#"><span class="text-white text-opacity-50">Item</span></a>
						</li>
						<li class="mt-0 uk-nav-header uk-parent">
							<div class="flex justify-between">
								<a class="flex flex-1 items-center" href="#"><span class="text-white">Item</span></a>
								<a class="flex flex-none items-start justify-end pt-px w-16" href="javascript:void(0)"
									title="展開/收合選單"><span class="toggle uk-icon" uk-icon="icon: chevron-right"></span><span
										class="toggle hidden uk-icon" uk-icon="icon: chevron-down"></span class="toggle"></a>
							</div>
							<ul class="toggle hidden uk-nav-sub">
								<li class="pr-5"><a href="#"><span class="text-white text-opacity-50">SubItem</span></a>
								</li>
								<li class="pr-5"><a href="#"><span class="text-white text-opacity-50">SubItem</span></a>
								</li>
								<li class="pr-5"><a href="#"><span class="text-white text-opacity-50">SubItem</span></a>
								</li>
							</ul>
						</li>
						<li class="pr-5"><a href="#"><span class="text-white text-opacity-50">Item</span></a>
						</li>
					</ul> --}}
				</li>
				<li class="py-1 uk-parent">
					<a class="p-0" href="04latest.html"><span class="text-white">新書目錄</span></a>
				</li>
				<li class="py-1 uk-parent">
					<a class="p-0" href="05hot.html"><span class="text-white">熱門排行</span></a>
				</li>
				<li class="py-1 uk-parent">
					<div class="flex justify-between">
						<a class="flex flex-1 items-center" href="#"><span class="text-white">我要推薦</span></a>
						<a class="flex flex-none items-start justify-end pt-px w-16" href="javascript:void(0)" title="展開/收合選單"><span
								class="toggle uk-icon" uk-icon="icon: chevron-right"></span><span class="toggle hidden uk-icon"
								uk-icon="icon: chevron-down"></span class="toggle"></a>
					</div>
					<ul class="toggle hidden uk-nav-sub">
						<li class="pr-5"><a href="#search" uk-toggle><span class="text-white text-opacity-50">推薦資料</span></a>
						</li>
						<li class="pr-5"><a href="06recommend.html"><span class="text-white text-opacity-50">推薦資料總覽</span></a>
						</li>
						<li class="pr-5"><a href="06person.html"><span class="text-white text-opacity-50">個人推薦資料</span></a>
						</li>
					</ul>
				</li>
				<li class="py-1 uk-parent">
					<a class="p-0" href="http://primo.lib.cgu.edu.tw:8991/pds?func=load-login&calling_system=aleph&institute=FLY51&url=http://aleph.cgu.edu.tw/F?func=find-b-0&local_base=space&CON_LNG=chi" target="_blank"><span class="text-white">討論室/設備預約</span></a>
				</li>
				<li class="py-1 uk-parent">
					<a class="p-0" href="http://web20.lib.cgu.edu.tw/accounts/login/" target="_blank"><span class="text-white">個人化服務</span></a>
				</li>
				<li class="uk-nav-divider"></li>
				<li><a href="index.html">首頁</a></li>
				<li><a href="http://library.cgu.edu.tw/" target="_blank">圖書館</a></li>
				<li><a href="http://aleph.cgu.edu.tw/F?func=find-b-0&local_base=fly03" target="_blank">明志科大館藏目錄</a></li>
				{{!-- <li><a href="#search" uk-toggle>推薦資料</a></li>
				<li><a href="06recommend.html">推薦資料總覽</a></li>
				<li><a href="06person.html">個人推薦資料</a></li> --}}
				<li><a href="#">English</a></li>
			</ul>
		</div>
	</div>
</header>

{{>login-modal id='login' modal-title='會員登入' errorOn='true' error='驗證提示語'}}

{{>register-modal id='register' modal-title='會員註冊'}}

{{>search-modal id='search' modal-title='推薦搜尋'}}

<!-- header -->