<!-- index main content -->
<section id="content" class="space-y-4 relative" uk-height-viewport="expand: true">
  {{!-- <div class="m:-mt-24 container_responsive@s uk-container">
    <div class="bg_primary opacity-50 uk-position-cover"></div>
    <p>台灣乳房植入物登錄系統(Taiwan Breast Implant Registry, TBIR)是
      台灣衛生福利部食品藥物管理署的研究計畫，由臺北醫學大學研究團
      隊承接，並與台灣整形外科醫學會合作共同建置而成，目的在於提供
      乳房植入物手術者健康保障，並監控及提升乳房植入物的安全性。</p>
  </div> --}}

  {{!-- Search Box --}}
  <div class="m-auto uk-width-2-3@m uk-width-1-2@l">
    <ul class="tab_btn tab_btn-active-white tab_btn-space-s! m-0" uk-tab>
      <li class="p-0"><a href="#">館藏目錄</a></li>
      <li class="p-0"><a href="#">數位典藏</a></li>
      <li class="p-0"><a href="#">機構典藏</a></li>
    </ul>
    <ul class="m-0 shadow-md bg-white p-6">
      <li>
        <form>
          <!-- .searchBar -->
          <div class="searchBar">
            {{!-- <small class="mb-1">數位典藏系統可查詢本館數位化特藏資料</small> --}}
            <div class="uk-grid uk-grid-small uk-child-width-expand@s" uk-grid>
              <div class="uk-width-auto@s">
                <select class="w-100 uk-select">
                  <option>不限欄位</option>
                </select>
              </div>
              <div class="uk-width-expand@s">
                <input class="w-full uk-input" id="form_i_keywords" type="text" placeholder="請輸入關鍵字" value="">
              </div>
              <div class="uk-width-auto@s"><a class="btn_primary color_white! min_width-150 w-full uk-button uk-button-primary" href="#"><i class="fas fa-search"></i>搜尋</a>
              </div>
            </div>
          </div>
          <!-- .searchBar -->
        </form>
      </li>
    </ul>
  </div>
  {{!-- Search Box --}}

  <div class="m-auto uk-width-3-4@l uk-width-2-3@xl">
    <div class="container_responsive@s uk-container">
      {{#if hrefForAA}}
      <div class="h-0 relative uk-visible@m"><a class="no-underline px-1 uk-position-absolute" href="#C" id="AC" name="C" title="中央內容區塊" accesskey="C" style="left:-30px; top:15px">:::</a></div>
      {{/if}}
      <div class="uk-grid uk-grid-small uk-child-width-expand@m" uk-grid uk-height-match="target: > div > .uk-card">
        <div class="min_width-2/3!@m">
          <h2 class="color_primary uk-heading-line text-base uk-text-center"><span><i class="mr-2 fas fa-bullhorn"></i>最新消息</span></h2>
          <div class="color_black! uk-flex uk-flex-between uk-flex-middle uk-flex-right">
            {{!-- <h2 class="bg_primary text-sm m-0 p-2">最新消息</h2> --}}
            {{!-- <a class="text-xs" href="#" title="更多">More</a> --}}
          </div>
          <div class="p-3 hover:shadow-2xl uk-card uk-card-default">
            <div class="overflow_hidden@m max_height-275@m max_height-220@xl pb-6">
              <div class="min_height-100@m">
                <ul class="mt-0 text-justify uk-list">
                  <li>
                    <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
                      <div class="min_width-100 uk-width-auto"><i class="color_primary fas fa-angle-right fa-fw"></i><time class="mr-2">2020/09/16</time></div>
                      <div class="uk-width-expand"><a class="inline uk-text-break" href="#">香級過集樂區非世不品，是增樹千了完心元義</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
                      <div class="min_width-100 uk-width-auto"><i class="color_primary fas fa-angle-right fa-fw"></i><time class="mr-2">2020-09-15</time></div>
                      <div class="uk-width-expand"><a class="inline uk-text-break" href="#">同有了地得在：消關知過外會。岸多說國裝吃政內現不用展星不據他食行備對門，整長機！</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
                      <div class="min_width-100 uk-width-auto"><i class="color_primary fas fa-angle-right fa-fw"></i><time class="mr-2">2020-09-15</time></div>
                      <div class="uk-width-expand"><a class="inline uk-text-break" href="#">美夫室個年路代蘭裡、青學最</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
                      <div class="min_width-100 uk-width-auto"><i class="color_primary fas fa-angle-right fa-fw"></i><time class="mr-2">2020-09-15</time></div>
                      <div class="uk-width-expand"><a class="inline uk-text-break" href="#">這中國靈點之起感；系說筆？算地他似的只，些股與買業為，術字人然個面園未政招要作前動常便</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
                      <div class="min_width-100 uk-width-auto"><i class="color_primary fas fa-angle-right fa-fw"></i><time class="mr-2">2020-09-15</time></div>
                      <div class="uk-width-expand"><a class="inline uk-text-break" href="#">實作率寫也中面人自國，老年正有要命飛不？容大了政。他草上話石義負，同部意是來飛過高傳，來布對同候的臺於立我在要日人朋</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <a class="color_primary bottom-15 right-15 m:bottom-0 m:right-0 text-xs text-right uk-position-bottom-right uk-position-z-index" href="#" title="更多">閱讀更多</a>
            </div>
          </div>
        </div>
        <div class="min_width-1/3!@m">
          <h2 class="color_primary uk-heading-line text-base uk-text-center"><span><i class="mr-2 fas fa-star"></i>熱門服務</span></h2>
          <div class="color_black! uk-flex uk-flex-between uk-flex-middle uk-flex-right">
            {{!-- <h2 class="bg_primary text-sm m-0 p-2">熱門服務</h2> --}}
            {{!-- <a class="text-xs" href="#" title="更多">More</a> --}}
          </div>
          <div class="p-3 hover:shadow-2xl uk-card uk-card-default">
            <div class="uk-grid uk-grid-small uk-child-width-expand" uk-grid uk-height-match="target: > div > .uk-flex">
              <div class="min_width-1/2! min_width-1/3!@s">
                <a class="no-underline hover:color_secondary! bg-gray-100 space-y-2 py-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle" href="#">
                  <i class="color_primary text-4xl fas fa-file-alt"></i>
                  <span class="text-center px-2">期刊目次</span>
                </a>
              </div>
              <div class="min_width-1/2! min_width-1/3!@s">
                <a class="no-underline hover:color_secondary! bg-gray-100 space-y-2 py-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle" href="#">
                  <i class="color_primary text-4xl fas fa-database"></i>
                  <span class="text-center px-2">電子資料庫</span>
                </a>
              </div>
              <div class="min_width-1/2! min_width-1/3!@s">
                <a class="no-underline hover:color_secondary! bg-gray-100 space-y-2 py-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle" href="#">
                  <i class="color_primary text-4xl fas fa-file-contract"></i>
                  <span class="text-center px-2">電子期刊</span>
                </a>
              </div>
              <div class="min_width-1/2! min_width-1/3!@s">
                <a class="no-underline hover:color_secondary! bg-gray-100 space-y-2 py-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle" href="#">
                  <i class="color_primary text-4xl fas fa-university"></i>
                  <span class="text-center px-2">館際合作</span>
                </a>
              </div>
              <div class="min_width-1/2! min_width-1/3!@s">
                <a class="no-underline hover:color_secondary! bg-gray-100 space-y-2 py-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle" href="#">
                  <i class="color_primary text-4xl fas fa-question-circle"></i>
                  <span class="text-center px-2">常見問答</span>
                </a>
              </div>
              <div class="min_width-1/2! min_width-1/3!@s">
                <a class="no-underline hover:color_secondary! bg-gray-100 space-y-2 py-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle" href="#">
                  <img class="icon inline-block uk-responsive-width" src="img/icon-book.png" alt="本所資料庫">
                  <span class="text-center px-2">本所資料庫</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-width-1-1">
          {{!-- <div class="color_black! uk-flex uk-flex-between uk-flex-middle uk-flex-right">
            <h2 class="bg_primary text-sm m-0 p-2">新書推介</h2>
            <a class="text-xs" href="#" title="更多">More</a>
          </div> --}}
          <h2 class="color_primary mb-0 uk-heading-line text-base uk-text-center"><span><i class="mr-2 fas fa-book-open"></i>新書推介</span></h2>
          <div class="mb-2 px-2 s:p-0 s:justify-end flex-wrap uk-flex uk-flex-middle">
            <span class="pseudo:line_v"><a class="color_primary" href="#">中文新書清單</a></span>
            <span class="pseudo:line_v"><a class="color_primary" href="#">西文新書清單</a></span>
            <span class="pseudo:line_v"><a class="color_primary" href="#">日文新書清單</a></span>
          </div>
          <div class="bg-white p-3 shadow-md">
            <div class="slidenav_thick uk-position-relative uk-visible-toggle uk-light uk-slider" uk-slider tabindex="-1">
              <ul class="uk-slider-items uk-child-width-1-3 uk-child-width-1-4@s uk-child-width-1-5@m uk-grid uk-grid-large">
                <li>
                  <div class="text-center hover:shadow-2xl uk-card">
                    <a class="block" href="">
                      <div class="aspect ratio-3/4">
                        {{!-- <img class="object-contain h-full w-full" src="img/book_01.jpg" alt=""> --}}
                        {{!-- <img class="w-full uk-responsive-height	" src="img/book_01.jpg" alt=""> --}}
                        <div class="uk-background-contain uk-flex uk-flex-center uk-flex-middle" style="background-image: url(https://fakeimg.pl/300x400/);"></div>
                      </div>
                    </a>
                    {{!-- <div class="p-0 uk-card-body">
                      <a class="bg_secondary color_white! block" href="">西文<i class="pl-2 fas fa-caret-right"></i></a>
                      <h3 class="truncate text-sm text-black pt-2 m-0 uk-card-title">電商人妻社群圈粉思維</h3>
                    </div> --}}
                  </div>
                </li>
                <li>
                  <div class="text-center hover:shadow-2xl uk-card">
                    <a class="block" href="">
                      <div class="aspect ratio-3/4">
                        <div class="uk-background-contain uk-flex uk-flex-center uk-flex-middle" style="background-image: url(img/book_01.jpg);"></div>
                      </div>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="text-center hover:shadow-2xl uk-card">
                    <a class="block" href="">
                      <div class="aspect ratio-3/4">
                        <div class="uk-background-contain uk-flex uk-flex-center uk-flex-middle" style="background-image: url(img/book_02.jpg);"></div>
                      </div>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="text-center hover:shadow-2xl uk-card">
                    <a class="block" href="">
                      <div class="aspect ratio-3/4">
                        <div class="uk-background-contain uk-flex uk-flex-center uk-flex-middle" style="background-image: url(img/book_03.jpg);"></div>
                      </div>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="text-center hover:shadow-2xl uk-card">
                    <a class="block" href="">
                      <div class="aspect ratio-3/4">
                        <div class="uk-background-contain uk-flex uk-flex-center uk-flex-middle" style="background-image: url(img/book_04.jpg);"></div>
                      </div>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="text-center hover:shadow-2xl uk-card">
                    <a class="block" href="">
                      <div class="aspect ratio-3/4">
                        <div class="uk-background-contain uk-flex uk-flex-center uk-flex-middle" style="background-image: url(img/book_05.jpg);"></div>
                      </div>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="text-center hover:shadow-2xl uk-card">
                    <a class="block" href="">
                      <div class="aspect ratio-3/4">
                        <div class="uk-background-contain uk-flex uk-flex-center uk-flex-middle" style="background-image: url(img/book_06.jpg);"></div>
                      </div>
                    </a>
                  </div>
                </li>
              </ul>
              {{!-- <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                uk-slider-item="previous"><span class="sr-only">前一個</span></a>
              <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                uk-slider-item="next"><span class="sr-only">下一個</span></a> --}}
              <a class="w-50 px-lg-5 uk-position-left uk-flex uk-flex-middle uk-slidenav-large uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"><span class="sr-only">前一個</span></a>
              <a class="w-50 px-lg-5 uk-position-right uk-flex uk-flex-right uk-flex-middle uk-slidenav-large uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"><span class="sr-only">下一個</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- index main content -->