<!-- index main content -->
<section id="content" class="space-y-4 relative" uk-height-viewport="expand: true">
  {{!-- <div class="m:-mt-24 container_responsive@s uk-container">
    <div class="bg_primary opacity-50 uk-position-cover"></div>
    <p>台灣乳房植入物登錄系統(Taiwan Breast Implant Registry, TBIR)是
      台灣衛生福利部食品藥物管理署的研究計畫，由臺北醫學大學研究團
      隊承接，並與台灣整形外科醫學會合作共同建置而成，目的在於提供
      乳房植入物手術者健康保障，並監控及提升乳房植入物的安全性。</p>
  </div> --}}

  {{!-- Search Box --}}
  <div class="bg-white bg-opacity-75 shadow-md p-2 m:p-4 m-auto l:mt-6 xl:mt-20 uk-width-2-3@m uk-width-1-2@l">
    <ul class="tab_btn-secondary tab_btn-active-white tab_btn-space-s!@s m-0" uk-tab>
      <li class="p-0"><a href="#">版藏目錄</a></li>
      <li class="p-0"><a href="#">數位典藏</a></li>
      <li class="p-0"><a href="#">機構典藏</a></li>
      <li class="p-0"><a href="#">電子資源</a></li>
    </ul>
    <ul class="shadow-md bg-white p-4 uk-switcher">
      <li>
        <form onsubmit="return false;">
          <!-- .searchBar -->
          <div class="searchBar">
            {{!-- <small class="mb-1">數位典藏系統可查詢本館數位化特藏資料</small> --}}
            <div class="uk-grid uk-grid-small uk-child-width-expand@s" uk-grid>
              <div class="uk-width-auto@s">
                <select class="w-100 uk-select">
                  <option>不限欄位</option>
                </select>
              </div>
              <div class="uk-width-expand@s">
                <input class="w-full uk-input" id="form_i_keywords" type="text" placeholder="請輸入關鍵字" value="">
              </div>
              <div class="uk-width-auto@s"><a
                  class="btn_secondary color_white! min_width-150 w-full uk-button uk-button-primary" href="#"><i
                    class="fas fa-search"></i>搜尋</a>
              </div>
            </div>
          </div>
          <!-- .searchBar -->
        </form>
      </li>
      <li>Ut</li>
      <li>Duis</li>
      <li></li>
    </ul>
  </div>
  {{!-- Search Box --}}

  <div class="bg-white bg-opacity-75 shadow-md p-2 m:p-4 l:mt-6 m-auto uk-width-3-4@l uk-width-2-3@xl">
    <div class="container_responsive@s uk-container">
      <div class="h-0 relative uk-visible@m"><a class="no-underline px-1 uk-position-absolute" href="#C" id="AC"
          name="C" title="中央內容區塊" accesskey="C" style="left:-30px;">:::</a></div>

      <div class="uk-grid uk-grid-small uk-child-width-expand@m" uk-grid uk-height-match="target: > div > .uk-card">
        <div class="min_width-1/3!@m">
          <div class="color_black! uk-flex uk-flex-between uk-flex-middle uk-flex-right">
            <h2 class="bg_primary text-sm m-0 p-2">最新消息</h2>
            {{!-- <a class="text-xs" href="#" title="更多">More</a> --}}
          </div>
          <div class="p-3 hover:shadow-2xl uk-card uk-card-default">
            <div class="overflow_hidden@m max_height-300">
              <div class="min_height-100@m p-3">
                <ul class="text-justify uk-list">
                  <li>
                    <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
                      <div class="min_width-100 uk-width-auto"><i
                          class="color_primary fas fa-angle-right fa-fw"></i><time
                          class="text-sm mr-2">2020-07-03</time></div>
                      <div class="uk-width-expand"><a class="inline uk-text-break"
                          href="#">將於10月5日召開臺灣乳房植入物登錄雛型系統專家會議</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid>
                      <div class="min_width-100 uk-width-auto">
                        <i class="color_primary fas fa-angle-right fa-fw"></i>
                        <time class="text-sm mr-2">2020-09-30</time>
                      </div>
                      <div class="uk-width-expand"><a class="inline uk-text-break" href="#">臺灣乳房植入物登錄雛型系統將於2020年底建立</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <a class="color3! text-xs text-right mb-2 mr-3 uk-position-bottom-right uk-position-z-index" href="#"
                title="更多">閱讀更多</a>
            </div>
          </div>
        </div>
        <div class="min_width-1/3!@m">
          <div class="color_black! uk-flex uk-flex-between uk-flex-middle uk-flex-right">
            <h2 class="bg_primary text-sm m-0 p-2">熱門服務</h2>
            {{!-- <a class="text-xs" href="#" title="更多">More</a> --}}
          </div>
          <div class="p-3 hover:shadow-2xl uk-card uk-card-default">
            <div class="uk-grid uk-grid-small uk-child-width-expand" uk-grid uk-height-match="target: > div > .uk-flex">
              <div class="min_width-1/2! min_width-1/4!@s">
                <a class="no-underline hover:color_secondary! bg-gray-100 space-y-2 py-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle"
                  href="#">
                  <i class="color_primary text-4xl fas fa-database"></i>
                  <span class="text-xs text-center px-2">資料庫</span>
                </a>
              </div>
              <div class="min_width-1/2! min_width-1/4!@s">
                <a class="no-underline hover:color_secondary! bg-gray-100 space-y-2 py-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle"
                  href="#">
                  <i class="color_primary text-4xl fas fa-file-archive"></i>
                  <span class="text-xs text-center px-2">電子期刊</span>
                </a>
              </div>
              <div class="min_width-1/2! min_width-1/4!@s">
                <a class="no-underline hover:color_secondary! bg-gray-100 space-y-2 py-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle"
                  href="#">
                  <i class="color_primary text-4xl fas fa-paste"></i>
                  <span class="text-xs text-center px-2">期刊清單瀏覽</span>
                </a>
              </div>
              <div class="min_width-1/2! min_width-1/4!@s">
                <a class="no-underline hover:color_secondary! bg-gray-100 space-y-2 py-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle"
                  href="#">
                  <i class="color_primary text-4xl fas fa-file-alt"></i>
                  <span class="text-xs text-center px-2">期刊目次服務</span>
                </a>
              </div>
              <div class="min_width-1/2! min_width-1/4!@s">
                <a class="no-underline hover:color_secondary! bg-gray-100 space-y-2 py-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle"
                  href="#">
                  <i class="color_primary text-4xl fas fa-university"></i>
                  <span class="text-xs text-center px-2">國際館際合作</span>
                </a>
              </div>
              <div class="min_width-1/2! min_width-1/4!@s">
                <a class="no-underline hover:color_secondary! bg-gray-100 space-y-2 py-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle"
                  href="#">
                  <i class="color_primary text-4xl fas fa-id-card-alt"></i>
                  <span class="text-xs text-center px-2">閱覽證申辦</span>
                </a>
              </div>
              <div class="min_width-1/2! min_width-1/4!@s">
                <a class="no-underline hover:color_secondary! bg-gray-100 space-y-2 py-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle"
                  href="#">
                  <i class="color_primary text-4xl fas fa-network-wired"></i>
                  <span class="text-xs text-center px-2">VPN服務</span>
                </a>
              </div>
              <div class="min_width-1/2! min_width-1/4!@s">
                <a class="no-underline hover:color_secondary! bg-gray-100 space-y-2 py-3 uk-flex uk-flex-column uk-flex-center uk-flex-middle"
                  href="#">
                  <i class="color_primary text-4xl fas fa-laptop-house"></i>
                  <span class="text-xs text-center px-2">研究小間使用辦法</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-width-1-1">
          <div class="color_black! uk-flex uk-flex-between uk-flex-middle uk-flex-right">
            <h2 class="bg_primary text-sm m-0 p-2">新書推介</h2>
            {{!-- <a class="text-xs" href="#" title="更多">More</a> --}}
          </div>
          <div class="bg_primary p-3">
            <div class="uk-position-relative uk-visible-toggle uk-light uk-slider" uk-slider tabindex="-1">
              <ul
                class="uk-slider-items uk-child-width-1-2 uk-child-width-1-4@s uk-child-width-1-6@l uk-grid uk-grid-small">
                <li>
                  <div class="text-center hover:shadow-2xl uk-card">
                    <a class="block" href="">
                      <div class="aspect ratio-3/4 bg_primary">
                        {{!-- <img class="object-contain h-full w-full" src="img/book_01.jpg" alt=""> --}}
                        {{!-- <img class="w-full uk-responsive-height	" src="img/book_01.jpg" alt=""> --}}
                        <div class="uk-background-contain uk-flex uk-flex-center uk-flex-middle"
                          style="background-image: url(img/book_01.jpg);"></div>
                      </div>
                    </a>
                    <div class="p-0 uk-card-body">
                      <a class="bg_secondary color_white! block" href="">西文<span class="pl-2">>></span></a>
                      <h3 class="truncate text-sm text-black pt-2 m-0 uk-card-title">電商人妻社群圈粉思維</h3>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="text-center hover:shadow-2xl uk-card">
                    <a class="block" href="">
                      <div class="aspect ratio-3/4 bg_primary">
                        <div class="uk-background-contain uk-flex uk-flex-center uk-flex-middle"
                          style="background-image: url(img/book_02.jpg);"></div>
                      </div>
                    </a>
                    <div class="p-0 uk-card-body">
                      <a class="bg_secondary color_white! block" href="">西文<span class="pl-2">>></span></a>
                      <h3 class="truncate text-sm text-black pt-2 m-0 uk-card-title">電商人妻社群圈粉思維</h3>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="text-center hover:shadow-2xl uk-card">
                    <a class="block" href="">
                      <div class="aspect ratio-3/4 bg_primary">
                        <div class="uk-background-contain uk-flex uk-flex-center uk-flex-middle"
                          style="background-image: url(img/book_03.jpg);"></div>
                      </div>
                    </a>
                    <div class="p-0 uk-card-body">
                      <a class="bg_secondary color_white! block" href="">西文<span class="pl-2">>></span></a>
                      <h3 class="truncate text-sm text-black pt-2 m-0 uk-card-title">電商人妻社群圈粉思維</h3>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="text-center hover:shadow-2xl uk-card">
                    <a class="block" href="">
                      <div class="aspect ratio-3/4 bg_primary">
                        <div class="uk-background-contain uk-flex uk-flex-center uk-flex-middle"
                          style="background-image: url(img/book_04.jpg);"></div>
                      </div>
                    </a>
                    <div class="p-0 uk-card-body">
                      <a class="bg_secondary color_white! block" href="">西文<span class="pl-2">>></span></a>
                      <h3 class="truncate text-sm text-black pt-2 m-0 uk-card-title">電商人妻社群圈粉思維</h3>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="text-center hover:shadow-2xl uk-card">
                    <a class="block" href="">
                      <div class="aspect ratio-3/4 bg_primary">
                        <div class="uk-background-contain uk-flex uk-flex-center uk-flex-middle"
                          style="background-image: url(img/book_05.jpg);"></div>
                      </div>
                    </a>
                    <div class="p-0 uk-card-body">
                      <a class="bg_secondary color_white! block" href="">西文<span class="pl-2">>></span></a>
                      <h3 class="truncate text-sm text-black pt-2 m-0 uk-card-title">電商人妻社群圈粉思維</h3>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="text-center hover:shadow-2xl uk-card">
                    <a class="block" href="">
                      <div class="aspect ratio-3/4 bg_primary">
                        <div class="uk-background-contain uk-flex uk-flex-center uk-flex-middle"
                          style="background-image: url(img/book_06.jpg);"></div>
                      </div>
                    </a>
                    <div class="p-0 uk-card-body">
                      <a class="bg_secondary color_white! block" href="">西文<span class="pl-2">>></span></a>
                      <h3 class="truncate text-sm text-black pt-2 m-0 uk-card-title">電商人妻社群圈粉思維</h3>
                    </div>
                  </div>
                </li>
              </ul>
              {{!-- <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                uk-slider-item="previous"><span class="sr-only">前一個</span></a>
              <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                uk-slider-item="next"><span class="sr-only">下一個</span></a> --}}
              <a class="w-50 px-lg-5 uk-position-left uk-flex uk-flex-middle uk-slidenav-large uk-hidden-hover" href="#"
                uk-slidenav-previous uk-slider-item="previous"><span class="sr-only">前一個</span></a>
              <a class="w-50 px-lg-5 uk-position-right uk-flex uk-flex-right uk-flex-middle uk-slidenav-large uk-hidden-hover"
                href="#" uk-slidenav-next uk-slider-item="next"><span class="sr-only">下一個</span></a>
            </div>
          </div>
        </div>
        {{!-- <div class="min_width-1/3!@m">
          <div class="overflow_hidden@m h-full hover:shadow-2xl uk-card uk-card-default">
            <h3
              class="text-xl bg_primary color_black! px-2 py-1 m-0 uk-flex uk-flex-between uk-flex-middle uk-flex-right">
              <span class="font-normal uk-width-expand">最新消息</span><a href="00newslist.html"
                title="更多"><small>More</small></a></h3>
            <div class="min_height-100@m p-3">
              <ul class="text-justify uk-list">
                <li>
                  <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid="">
                    <div class="min_width-100 uk-width-auto uk-first-column"><i
                        class="fas fa-angle-right fa-fw"></i><time class="text-sm mr-2">2020-07-03</time></div>
                    <div class="uk-width-expand"><a class="inline uk-text-break"
                        href="00news200703.html">將於10月5日召開臺灣乳房植入物登錄雛型系統專家會議</a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="uk-grid uk-grid-collapse uk-child-width-expand" uk-grid="">
                    <div class="min_width-100 uk-width-auto uk-first-column"><i
                        class="fas fa-angle-right fa-fw"></i><time class="text-sm mr-2">2020-08-21</time></div>
                    <div class="uk-width-expand"><a class="inline uk-text-break" href="#">臺灣乳房植入物登錄雛型系統將於2020年底建立</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div> --}}
      </div>
    </div>
  </div>
</section>
<!-- index main content -->