{{!-- {{>listMenuTabsLink}} --}}

<div class="listMenu uk-visible@m">
	<ul class="list_tabs list_tabs-link">
		<li class="active uk-nav-header uk-parent">
			{{!-- <a href="#">Level1</a>
					<small class="pseudo:parentheses flex items-center px-2">123</small> --}}
			<div class="flex justify-between items-stretch p-0">
				<a class="flex flex-1 items-center" href="#">Level1</a>
				<small class="pseudo:parentheses flex items-center px-2">123</small>
			</div>
		</li>
		<li class="uk-nav-header uk-parent">
			<div class="flex justify-between items-stretch p-0">
				<a class="flex flex-1 items-center" href="#">Level2</a>
				<a class="flex flex-none items-start justify-end w-16" href="javascript:void(0)" title="展開/收合選單"><span
						class="toggle uk-icon" uk-icon="icon: chevron-right"></span><span class="toggle hidden uk-icon"
						uk-icon="icon: chevron-down"></span class="toggle"></a>
			</div>
			<ul class="toggle hidden uk-nav-sub">
				<li>
					<a href="#">Item</a>
					<small class="pseudo:parentheses flex items-center px-2">123</small>
				</li>
				<li>
					<a href="#">Item</a>
					<small class="pseudo:parentheses flex items-center px-2">123</small>
				</li>
			</ul>
		</li>
		<li class="uk-nav-header uk-parent">
			<div class="flex justify-between items-stretch p-0">
				<a class="flex flex-1 items-center" href="#"><span>Level3</span></a>
				<a class="flex flex-none items-start justify-end w-16" href="javascript:void(0)" title="展開/收合選單"><span
						class="toggle uk-icon" uk-icon="icon: chevron-right"></span><span class="toggle hidden uk-icon"
						uk-icon="icon: chevron-down"></span class="toggle"></a>
			</div>
			<ul class="toggle hidden uk-nav-sub">
				<li><a href="#">Item</a></li>
				<li class="mt-0 uk-nav-header uk-parent">
					<div class="flex justify-between items-stretch p-0">
						<a class="flex flex-1 items-center" href="#">Item</a>
						<a class="flex flex-none items-start justify-end w-16" href="javascript:void(0)" title="展開/收合選單"><span
								class="toggle uk-icon" uk-icon="icon: chevron-right"></span><span class="toggle hidden uk-icon"
								uk-icon="icon: chevron-down"></span class="toggle"></a>
					</div>
					<ul class="toggle hidden uk-nav-sub">
						<li><a href="#">SubItem</a>
						</li>
						<li><a href="#">SubItem</a>
						</li>
						<li><a href="#">SubItem</a>
						</li>
					</ul>
				</li>
				<li><a href="#">Item</a></li>
			</ul>
		</li>
		<li class="uk-nav-header uk-parent">
			<div class="flex justify-between items-stretch p-0">
				<a class="flex flex-1 items-center" href="#">Level1</a>
				<small class="pseudo:parentheses flex items-center px-2">123</small>
			</div>
		</li>
	</ul>
</div>