{{!-- {{>listMenuTabs}} --}}

<div class="listMenu uk-visible@m">
	<ul class="list_tabs list_tabs-icon-active-white uk-nav-parent-icon uk-nav" uk-nav="multiple: true; animation: false">
		<li class="active uk-nav-header uk-parent">
			<a class="break-all" href="#content">Item<small class="pseudo:parentheses">123</small></a>
		</li>
		<li class="active uk-nav-header uk-parent">
			<a class="break-all" href="#content">Item<small class="pseudo:parentheses">123</small></a>
			<ul>
				<li><a class="break-all" href="#content">subItem<small class="pseudo:parentheses">123</small></a></li>
				<li><a class="break-all" href="#content">subItem<small class="pseudo:parentheses">123</small></a></li>
			</ul>
		</li>
		<li class="uk-nav-header uk-parent">
			<a class="break-all" href="#content">Item<small class="pseudo:parentheses">123</small></a>
			<ul>
				<li><a class="break-all" href="#content">subItem<small class="pseudo:parentheses">123</small></a></li>
				<li><a class="break-all" href="#content">subItem<small class="pseudo:parentheses">123</small></a></li>
			</ul>
		</li>
	</ul>
</div>