{{!-- {{>listGroup-bs optionSum=true}} --}}

<!-- List-group -->
<ul class="list-group list-group-root">
  {{#if level1}}
  <li>
    <a href="#" class="list-group-item list-group-item-action">Item_1{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs">999</small>{{/if}}</a>
  </li>
  {{/if}}
  {{#if level2}}
  <li>
    <a href="#" class="list-group-item list-group-item-action">Item_2{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs">999</small>{{/if}}</a>
    <ul class="list-group">
      <li>
        <a href="#" class="list-group-item list-group-item-action">Item_2_1{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs">999</small>{{/if}}</a>
      </li>
      <li>
        <a href="#" class="list-group-item list-group-item-action">Item_2_2{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs">999</small>{{/if}}</a>
      </li>
    </ul>
  </li>
  {{/if}}
  {{#if level3}}
  <li>
    <a href="#" class="list-group-item list-group-item-action">Item_3{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs">999</small>{{/if}}</a>
    <ul class="list-group">
      <li>
        <a href="#" class="list-group-item list-group-item-action">Item_3_1{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs">999</small>{{/if}}</a>
        <ul class="list-group">
          <li>
            <a href="#" class="list-group-item list-group-item-action">Item_3_1_1{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs">999</small>{{/if}}</a>
          </li>
          <li>
            <a href="#" class="list-group-item list-group-item-action">Item_3_1_2{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs">999</small>{{/if}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  {{/if}}
</ul>
<!-- /List-group -->