<h3>{{h3Title}}</h3>
<table class="uk-table uk-table-small uk-table-striped uk-table-responsive">
	<thead>
		<tr>
			<th class="uk-width-1-5@s">手術日期</th>
			<th class="uk-width-3-5@s">植入物廠牌</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><time>2020/08/20</time></td>
			{{!-- <td><a class="color_primary link_line inline hover:underline" href="#">中化公會路不真雙林一形必生部！話滿家我，活學雲表代能；無三想學？速更拉魚曾然病人只麼業臺</a> --}}
			<td>XXFFGGAA（左）<br>Fe8923u894u（右）</td>
		</tr>
		<tr>
			<td><time>2018/01/03</time></td>
			<td>uerbhGGeeeeertty（左）</td>
		</tr>
	</tbody>
</table>