<h3>{{h3Title}}</h3>
{{>pagination}}
<table class="uk-table uk-table-small uk-table-striped uk-table-responsive">
	<thead>
		<tr>
			<th class="uk-width-1-5@s">日期</th>
			<th class="uk-width-3-5@s">主題</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><time>2020-07-03</time></td>
			<td>{{!-- <i class="color_secondary mr-1 fas fa-star"></i> --}}<a class="color_primary inline hover:underline" href="00news200703.html">中化公會路不真雙林一形必生部！話滿家我，活學雲表代能；無三想學？速更拉魚曾然病人只麼業臺</a>
			</td>
		</tr>
		<tr>
			<td><time>2020-08-21</time></td>
			<td><a class="color_primary inline hover:underline"
					href="#">臺灣乳房植入物登錄雛型系統將於2020年底建立</a></td>
		</tr>
	</tbody>
</table>
{{>pagination}}