<ul class="border2 border_primary-dark border_dotted-before uk-tab" uk-tab>
	<li><a href="#">登錄流程</a></li>
	<li><a href="#">查資料流程</a></li>
	<li><a href="#">相關表單</a></li>
</ul>
<ul class="uk-switcher uk-margin">
	<li>
		<ol class="list list_upper-latin">
			<li>
				<strong class="color_dark">如何參與「臺灣乳房植入物登錄系統(Taiwan Breast Implant Registry, TBIR)」？</strong>
				<p class="text-justify">
					只要您有接受乳房植入物相關手術（置入或取出）皆有資格可以參與登錄系統。<br>
					參與本登錄系統的流程相當簡易，當您同意參與本登錄系統後，您將會需要簽署參與同意書，當您簽署完畢後，您的醫師將會把您的手術資料登錄於系統內。<br>
					您可以隨時提出退出需求，這並不會影響到您在醫院接受治療的權益，如果您想要退出可以<a class="color_primary link_line" href="#">聯繫我們</a>。<br>
					如果您在登錄方面有任何疑問，歡迎與我們聯繫，您可以來電至XX-XXXXXXX，或發送電子郵件至XX@XX.XX。
					(這邊會插入一個登錄流程圖)
				</p>
			</li>
			<li>
				<strong class="color_dark">我有哪些資料會被註冊？</strong>
				<p class="text-justify">
					本登錄系統的登錄表將會包含您的個人資料(包含姓名、身分證字號及聯繫資料等)及手術資料(包含手術原因、植入物資料等)。如果您需要了解所有登錄資料，可以點選此連結。
				</p>
			</li>
		</ol>
	</li>
	<li>
		<p class="text-justify">在登錄完成後，您將會收到登錄完成的通知訊息，並可以隨時登錄系統內觀看您的手術日期及植入物相關資訊。</p>
	</li>
	<ul>
		<ul class="list_initial space-y-2">
			<li><a class="color_primary link_line" href="#">TBIR說明手冊</a></li>
			<li><a class="color_primary link_line" href="#">TBIR受術者參與同意書</a></li>
			<li><a class="color_primary link_line" href="#">TBIR登錄表單</a></li>
			<li><a class="color_primary link_line" href="#">TBIR 註冊流程說明書</a></li>
			<li><a class="color_primary link_line" href="#">TBIR 資料登錄流程說明書</a></li>
			<li><a class="color_primary link_line" href="#">TBIR 資料保密協議</a></li>
		</ul>
		</li>
	</ul>

	{{!-- <p class="text-justify"><strong>說明：</strong></p>
<ol class="list list_decimal_ch">
	<li>關現心以縣過進研務小廣各怎。</li>
	<li>關現心以縣過進研務小廣各怎。</li>
</ol>
<p class="text-justify">關現心以縣過進研務小廣各怎。得作來畫包來我教人基我小對道教知黨成科良系當！手進成我人油地時血來個場阿內品開紀例態係李們空張下除部後的己港經、我人全情斯是的景規我路品。合推目事能。
	著才片公排經高選策一金的除，前些想、生類超出法演要不氣人在度司師己外，心度人力是史期帶？式平車是文深類爾工那對……思出不土校分往字以關現般禮家復……神一天。
	小找哥只師著在什時事說開是作。為才與花現育的叫證實開。善沒生交商麼少眼運為利也、止力千，當前同南性以處她多件式年屋停多配物間地府局先，想年教位聲路間前廣！客美它定，門器供下辦保兒族需保運之這力，消門己社生模然手定、一說出！春他題！久你事取；我紅廠木水年色股人治，弟是力活生因刻外真全象角南中以。
	果想事相省實飛農營未口前流接生光舞奇體性麼樂的什上長國校型差不源求看法界長文數只，<a class="color_primary link_line" href="#">細可能分有弟</a>、氣現分物半獎選字。
	年己人找。大得象功個土會代之題速越眼，知子知行氣靈。定紙代業大 <a class="color_primary link_line"
		href="mailto:user@ntu.edu.tw">Email:user@ntu.edu.tw</a>
	<br>
	<a class="color_primary link_line" href="#">http://www.mc.ntu.edu.tw/Pages/page_2017.aspx</a>
</p> --}}