{{>pagination}}
<ul class="list_initial browser-default" uk-accordion="multiple: true">
	<li class="uk-open">
		<a class="font-medium text-base pb-1 uk-accordion-title" href="#">Q1.參與登錄系統需要任何費用嗎？</a>
		<div class="m-0 pt-1 uk-accordion-content">
			<p>A: 參與登錄系統不需要收取您任何費用。</p>
		</div>
	</li>
	<li>
		<a class="font-medium text-base pb-1 uk-accordion-title" href="#">Q2.如何更改我的個人資料？</a>
		<div class="m-0 pt-1 uk-accordion-content">
			<p>A: 請您下載「TBIR個人資料修改表單」，並將表單寄送至電子郵件至XX@XX.XX。</p>
		</div>
	</li>
	<li>
		<a class="font-medium text-base pb-1 uk-accordion-title" href="#">Q3.如果我想要退出系統，請問我該怎麼做？</a>
		<div class="m-0 pt-1 uk-accordion-content">
			<p>A: 如果您想要退出，請您填寫「TBIR退出申請書」，並將資料寄至電子郵件至XX@XX.XX。</p>
		</div>
	</li>
</ul>
<!-- /accordion -->
{{>pagination}}
