<h3>{{h3Title}}</h3>

{{>searchBox select1=true select2=true select3=true select4=true select5=true}}

{{>sliderButtons h3=true h3Title='Tag Clouds'}}

{{!-- {{>pagination}} --}}
<table class="uk-table uk-table-small uk-table-striped uk-table-responsive">
	<thead>
		<tr>
			<th class="tw-text-nowrap">序號</th>
			<th class="tw-text-nowrap"></th>
			<th class="w-1/6 tw-text-nowrap">題名</th>
			<th class="tw-text-nowrap">作者</th>
			<th class="tw-text-nowrap">出版者</th>
			<th class="tw-text-nowrap">資料類型</th>
			<th class="tw-text-nowrap">推薦日期</th>
			<th class="tw-text-nowrap">處理狀態</th>
			<th class="tw-text-nowrap">複</th>
			<th class="tw-text-nowrap">推</th>
			<th class="tw-text-nowrap">功能</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			{{!-- <a class="uk-alert-close" title="刪除資料" uk-close></a> --}}
			<td>01</td>
			<td><img data-src="https://picsum.photos/90/120" width="90" height="120" alt="封面" uk-img></td>
			<td>
				{{!-- <i class="color_secondary mr-1 fas fa-star"></i> --}}
				<a class="color_primary hover:underline" href="06detail.html">
					中化公會路不真雙林一形必生部
				</a>
			</td>
			<td><span class="mr-2 tw-px-2 bg_black_tw-opacity-15 tw-text-black tw-text-sm uk-hidden@m">作者</span>Justin Baldoni</td>
			<td><span class="mr-2 tw-px-2 bg_black_tw-opacity-15 tw-text-black tw-text-sm uk-hidden@m">出版者</span>采昌國際多媒體</td>
			<td><span class="mr-2 tw-px-2 bg_black_tw-opacity-15 tw-text-black tw-text-sm uk-hidden@m">資料類型</span>視聽資料</td>
			<td><span class="mr-2 tw-px-2 bg_black_tw-opacity-15 tw-text-black tw-text-sm uk-hidden@m">推薦日期</span><time>2020-09-20</time></td>
			<td><span class="mr-2 tw-px-2 bg_black_tw-opacity-15 tw-text-black tw-text-sm uk-hidden@m">處理狀態</span>採購審查中</td>
			<td><span class="mr-2 tw-px-2 bg_black_tw-opacity-15 tw-text-black tw-text-sm uk-hidden@m">複</span>否</td>
			<td><span class="mr-2 tw-px-2 bg_black_tw-opacity-15 tw-text-black tw-text-sm uk-hidden@m">推</span>1</td>
			<td>
				<div class="tw-space-x-2 tw-relative" uk-margin>
					<a class="color_primary tw-text-xl" title="檢視資料" href="06detail.html"><i class="fas fa-search"></i></a>
				</div>
			</td>
		</tr>
		<tr>
			{{!-- <a class="uk-alert-close" title="刪除資料" uk-close></a> --}}
			<td>02</td>
			<td><img data-src="https://picsum.photos/93/124" width="90" height="120" alt="封面" uk-img></td>
			<td>
				{{!-- <i class="color_secondary mr-1 fas fa-star"></i> --}}
				<a class="color_primary hover:underline" href="06detail.html">
					中化公會路不真雙林一形必生部
				</a>
			</td>
			<td><span class="mr-2 tw-px-2 bg_black_tw-opacity-15 tw-text-black tw-text-sm uk-hidden@m">作者</span>Justin Baldoni</td>
			<td><span class="mr-2 tw-px-2 bg_black_tw-opacity-15 tw-text-black tw-text-sm uk-hidden@m">出版者</span>采昌國際多媒體</td>
			<td><span class="mr-2 tw-px-2 bg_black_tw-opacity-15 tw-text-black tw-text-sm uk-hidden@m">資料類型</span>視聽資料</td>
			<td><span class="mr-2 tw-px-2 bg_black_tw-opacity-15 tw-text-black tw-text-sm uk-hidden@m">推薦日期</span><time>2020-09-20</time></td>
			<td><span class="mr-2 tw-px-2 bg_black_tw-opacity-15 tw-text-black tw-text-sm uk-hidden@m">處理狀態</span>採購審查中</td>
			<td><span class="mr-2 tw-px-2 bg_black_tw-opacity-15 tw-text-black tw-text-sm uk-hidden@m">複</span>否</td>
			<td><span class="mr-2 tw-px-2 bg_black_tw-opacity-15 tw-text-black tw-text-sm uk-hidden@m">推</span>1</td>
			<td>
				<div class="tw-space-x-2 tw-relative" uk-margin>
					<a class="color_primary tw-text-xl" title="檢視資料" href="06detail.html"><i class="fas fa-search"></i></a>
				</div>
			</td>
		</tr>
	</tbody>
</table>
{{>pagination}}