<!-- searchBox -->
<form onsubmit="return false;">
	<div class="search">
		<div class="uk-grid uk-grid-collapse uk-child-width-expand@s" uk-grid>
			<div class="min_width-3/4!@s">
				<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
					<label><input class="tw-mr-1 uk-checkbox" type="checkbox">圖書</label>
					<label><input class="tw-mr-1 uk-checkbox" type="checkbox">期刊 (包含單篇論文)</label>
					<label><input class="tw-mr-1 uk-checkbox" type="checkbox">教案</label>
				</div>
			</div>
			<div class="min_width-1/4!@s">
				<a class="tw-w-full tw-bg-gray-200 tw-text-black uk-button uk-button-primary" href="">進階查詢</a>
			</div>
		</div>
		<div class="uk-grid uk-grid-collapse uk-child-width-expand@s" uk-grid>
			<div class="min_width-3/4!@s">
				<div class="uk-grid uk-grid-collapse uk-child-width-expand@s" uk-grid>
					<div class="min_width-1/4!@s">
						<label>
							<span class="tw-sr-only">選項選擇</span>
							<select class="uk-select">
								<option>不限欄位</option>
							</select>
						</label>
					</div>
					<div class="min_width-3/4!@s">
						<label><span class="tw-sr-only">請輪入關鍵字</span><input class="uk-input" type="text" placeholder="請輪入關鍵字"></label>
					</div>
				</div>
			</div>
			<div class="min_width-1/4!@s">
				<a class="btn_primary tw-w-full uk-button uk-button-primary" href=""><i class="tw-mr-1 fas fa-search" title=""></i>檢索</a>
			</div>
		</div>
		<div class="uk-grid uk-grid-collapse uk-child-width-expand@s" uk-grid>
			<div class="min_width-3/4!@s">
				<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
					<label><input class="tw-mr-1 uk-radio" type="radio" name="radio" checked>模糊查詢</label>
					<label><input class="tw-mr-1 uk-radio" type="radio" name="radio">精確查詢</label>
				</div>
			</div>
			<div class="min_width-1/4!@s">
				<a class="tw-w-full tw-bg-gray-200 tw-text-black uk-button uk-button-primary" href=""></a>
			</div>
		</div>
		<div class="uk-grid uk-grid-collapse uk-child-width-expand@s" uk-grid>
			<div class="min_width-3/4!@s">
				<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
					<label><input class="tw-mr-1 uk-checkbox" type="checkbox">華語</label>
					<label><input class="tw-mr-1 uk-checkbox" type="checkbox">日語</label>
					<label><input class="tw-mr-1 uk-checkbox" type="checkbox">本土語言</label>
				</div>
			</div>
			<div class="min_width-1/4!@s">
				<a class="tw-w-full tw-bg-gray-200 tw-text-black uk-button uk-button-primary" href="">查詢說明</a>
			</div>
		</div>
	</div>
</form>
<!-- searchBox -->