<p>本網站依無障礙網頁設計原則建置，網站的主要內容分為三大區塊：<strong>1. 上方功能區塊、2. 中央內容區塊、3.下方功能區塊 。</strong></p>
<p>本網站的快速鍵﹝Accesskey﹞設定如下：「（若您使用FireFox瀏覽本網站，快速鍵操作方式為Shift鍵+以下快速鍵設定。）</p>
<ul class="list-disc pl-5 browser-default">
	<li>Alt+U：上方功能區塊，包括回首頁、網站導覽、網站搜尋、字體選擇等。</li>
	<li>Alt+C：中央內容區塊，為本頁主要內容區。</li>
	<li>Alt+B：下方功能區塊。</li>
</ul>
<p>※當本網站項目頁籤無法以滑鼠點選時，您可利用以下鍵盤操作方式瀏覽資料</p>
<ul class="list-disc pl-5 browser-default">
	<li>← → or ↑↓：按左右鍵或上下鍵移動標籤順序。</li>
	<li>Home or End→：可直接跳至標籤第一項或者最後一項。</li>
	<li>Tab：停留於該標籤後,可利用Tab鍵跳至內容瀏覽該筆資料，遇到radio按鈕時請配合使← → or↑↓鍵移動項目順序。</li>
	<li>Tab + Shift：按Tab + Shift可往回跳至上一筆資料；當跳回至標籤項目時您可繼續利用← → or↑↓鍵移動標籤順序。</li>
</ul>
<div class="uk-grid uk-grid-small uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l" uk-grid uk-margin>
	<div class="uk-text-break">
		<a class="bg_primary block px-1" href="#">Title</a>
		<ul class="uk-list uk-list-divider uk-nav uk-nav-default">
			<li class="uk-parent">
				<a class="p-0 pt-2 hover:underline" href="#">01.01Item</a>
				<ul class="pl-4 uk-nav-sub">
					<li><a class="hover:underline" href="#">01.01.01得縣花期時媽要得親女公門得縣花期時媽要得親女公門</a></li>
					<li><a class="hover:underline" href="#">01.01.02SubItem</a></li>
				</ul>
			</li>
			<li class="uk-parent">
				<a class="p-0 pt-2 hover:underline" href="#">01.01Item</a>
				<ul class="pl-4 uk-nav-sub">
					<li><a class="hover:underline" href="#">01.01.01得縣花期時媽要得親女公門得縣花期時媽要得親女公門</a></li>
					<li><a class="hover:underline" href="#">01.01.02SubItem</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="uk-text-break">
		<a class="bg_primary block px-1" href="#">Title</a>
		<ul class="uk-list uk-list-divider uk-nav uk-nav-default">
			<li class="uk-parent">
				<a class="p-0 pt-2 hover:underline" href="#">01.01Item</a>
				<ul class="pl-4 uk-nav-sub">
					<li><a class="hover:underline" href="#">01.01.01得縣花期時媽要得親女公門得縣花期時媽要得親女公門</a></li>
					<li><a class="hover:underline" href="#">01.01.02SubItem</a></li>
				</ul>
			</li>
			<li class="uk-parent">
				<a class="p-0 pt-2 hover:underline" href="#">01.01Item</a>
				<ul class="pl-4 uk-nav-sub">
					<li><a class="hover:underline" href="#">01.01.01得縣花期時媽要得親女公門得縣花期時媽要得親女公門</a></li>
					<li><a class="hover:underline" href="#">01.01.02SubItem</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="uk-text-break">
		<a class="bg_primary block px-1" href="#">Title</a>
		<ul class="uk-list uk-list-divider uk-nav uk-nav-default">
			<li class="uk-parent">
				<a class="p-0 pt-2 hover:underline" href="#">01.01Item</a>
				<ul class="pl-4 uk-nav-sub">
					<li><a class="hover:underline" href="#">01.01.01得縣花期時媽要得親女公門得縣花期時媽要得親女公門</a></li>
					<li><a class="hover:underline" href="#">01.01.02SubItem</a></li>
				</ul>
			</li>
			<li class="uk-parent">
				<a class="p-0 pt-2 hover:underline" href="#">01.01Item</a>
				<ul class="pl-4 uk-nav-sub">
					<li><a class="hover:underline" href="#">01.01.01得縣花期時媽要得親女公門得縣花期時媽要得親女公門</a></li>
					<li><a class="hover:underline" href="#">01.01.02SubItem</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="uk-text-break">
		<a class="bg_primary block px-1" href="#">Title</a>
		<ul class="uk-list uk-list-divider uk-nav uk-nav-default">
			<li class="uk-parent">
				<a class="p-0 pt-2 hover:underline" href="#">01.01Item</a>
				<ul class="pl-4 uk-nav-sub">
					<li><a class="hover:underline" href="#">01.01.01得縣花期時媽要得親女公門得縣花期時媽要得親女公門</a></li>
					<li><a class="hover:underline" href="#">01.01.02SubItem</a></li>
				</ul>
			</li>
			<li class="uk-parent">
				<a class="p-0 pt-2 hover:underline" href="#">01.01Item</a>
				<ul class="pl-4 uk-nav-sub">
					<li><a class="hover:underline" href="#">01.01.01得縣花期時媽要得親女公門得縣花期時媽要得親女公門</a></li>
					<li><a class="hover:underline" href="#">01.01.02SubItem</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="uk-text-break">
		<a class="bg_primary block px-1" href="#">Title</a>
		<ul class="uk-list uk-list-divider uk-nav uk-nav-default">
			<li class="uk-parent">
				<a class="p-0 pt-2 hover:underline" href="#">01.01Item</a>
				<ul class="pl-4 uk-nav-sub">
					<li><a class="hover:underline" href="#">01.01.01得縣花期時媽要得親女公門得縣花期時媽要得親女公門</a></li>
					<li><a class="hover:underline" href="#">01.01.02SubItem</a></li>
				</ul>
			</li>
			<li class="uk-parent">
				<a class="p-0 pt-2 hover:underline" href="#">01.01Item</a>
				<ul class="pl-4 uk-nav-sub">
					<li><a class="hover:underline" href="#">01.01.01得縣花期時媽要得親女公門得縣花期時媽要得親女公門</a></li>
					<li><a class="hover:underline" href="#">01.01.02SubItem</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="uk-text-break">
		<a class="bg_primary block px-1" href="#">Title</a>
		<ul class="uk-list uk-list-divider uk-nav uk-nav-default">
			<li class="uk-parent">
				<a class="p-0 pt-2 hover:underline" href="#">01.01Item</a>
				<ul class="pl-4 uk-nav-sub">
					<li><a class="hover:underline" href="#">01.01.01得縣花期時媽要得親女公門得縣花期時媽要得親女公門</a></li>
					<li><a class="hover:underline" href="#">01.01.02SubItem</a></li>
				</ul>
			</li>
			<li class="uk-parent">
				<a class="p-0 pt-2 hover:underline" href="#">01.01Item</a>
				<ul class="pl-4 uk-nav-sub">
					<li><a class="hover:underline" href="#">01.01.01得縣花期時媽要得親女公門得縣花期時媽要得親女公門</a></li>
					<li><a class="hover:underline" href="#">01.01.02SubItem</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="uk-text-break">
		<a class="bg_primary block px-1" href="#">Title</a>
		<ul class="uk-list uk-list-divider uk-nav uk-nav-default">
			<li class="uk-parent">
				<a class="p-0 pt-2 hover:underline" href="#">01.01Item</a>
				<ul class="pl-4 uk-nav-sub">
					<li><a class="hover:underline" href="#">01.01.01得縣花期時媽要得親女公門得縣花期時媽要得親女公門</a></li>
					<li><a class="hover:underline" href="#">01.01.02SubItem</a></li>
				</ul>
			</li>
			<li class="uk-parent">
				<a class="p-0 pt-2 hover:underline" href="#">01.01Item</a>
				<ul class="pl-4 uk-nav-sub">
					<li><a class="hover:underline" href="#">01.01.01得縣花期時媽要得親女公門得縣花期時媽要得親女公門</a></li>
					<li><a class="hover:underline" href="#">01.01.02SubItem</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>