<div class="slidenav_thick uk-position-relative uk-visible-toggle uk-light uk-slider" uk-slider tabindex="-1">
  <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-6@m uk-grid{{#if gridLarge}} uk-grid-large{{else}} uk-grid-small{{/if}}">
    <li>
      <div class="tw-text-center hover:tw-shadow-2xl uk-card">
        <a class="tw-block" href="" title="封面">
          <div class="aspect ratio-3/4">
            {{!-- <img class="object-contain h-full w-full" src="img/book_01.jpg" alt=""> --}}
            {{!-- <img class="w-full uk-responsive-height	" src="img/book_01.jpg" alt=""> --}}
            <div class="uk-background-contain uk-flex uk-flex-center uk-flex-middle" style="background-image: url(https://fakeimg.pl/300x400/);"></div>
          </div>
        </a>
        {{#if caption}}
        <div class="tw-p-0 uk-card-body">
          {{#if typeLink}}<a class="bg_secondary tw-text-white tw-block" href="">西文<i class="tw-pl-2 fas fa-caret-right"></i></a>{{/if}}
          <h3 class="tw-truncate tw-text-sm tw-text-black tw-pt-2 tw-m-0 uk-card-title">加口長大中國加好說班文確最，在那上與為銀時她所樹老房的地</h3>
        </div>
        {{/if}}
      </div>
    </li>
    <li>
      <div class="tw-text-center hover:tw-shadow-2xl uk-card">
        <a class="tw-block" href="" title="封面">
          <div class="aspect ratio-3/4">
            <div class="uk-background-contain uk-flex uk-flex-center uk-flex-middle" style="background-image: url(img/book_01.jpg);"></div>
          </div>
        </a>
        {{#if caption}}
        <div class="tw-p-0 uk-card-body">
          {{#if typeLink}}<a class="bg_secondary tw-text-white tw-block" href="">西文<i class="tw-pl-2 fas fa-caret-right"></i></a>{{/if}}
          <h3 class="tw-truncate tw-text-sm tw-text-black tw-pt-2 tw-m-0 uk-card-title">加口長大中國加好說班文確最，在那上與為銀時她所樹老房的地</h3>
        </div>
        {{/if}}
      </div>
    </li>
    <li>
      <div class="tw-text-center hover:tw-shadow-2xl uk-card">
        <a class="tw-block" href="" title="封面">
          <div class="aspect ratio-3/4">
            <div class="uk-background-contain uk-flex uk-flex-center uk-flex-middle" style="background-image: url(img/book_02.jpg);"></div>
          </div>
        </a>
        {{#if caption}}
        <div class="tw-p-0 uk-card-body">
          {{#if typeLink}}<a class="bg_secondary tw-text-white tw-block" href="">西文<i class="tw-pl-2 fas fa-caret-right"></i></a>{{/if}}
          <h3 class="tw-truncate tw-text-sm tw-text-black tw-pt-2 tw-m-0 uk-card-title">加口長大中國加好說班文確最，在那上與為銀時她所樹老房的地</h3>
        </div>
        {{/if}}
      </div>
    </li>
    <li>
      <div class="tw-text-center hover:tw-shadow-2xl uk-card">
        <a class="tw-block" href="" title="封面">
          <div class="aspect ratio-3/4">
            <div class="uk-background-contain uk-flex uk-flex-center uk-flex-middle" style="background-image: url(img/book_03.jpg);"></div>
          </div>
        </a>
        {{#if caption}}
        <div class="tw-p-0 uk-card-body">
          {{#if typeLink}}<a class="bg_secondary tw-text-white tw-block" href="">西文<i class="tw-pl-2 fas fa-caret-right"></i></a>{{/if}}
          <h3 class="tw-truncate tw-text-sm tw-text-black tw-pt-2 tw-m-0 uk-card-title">加口長大中國加好說班文確最，在那上與為銀時她所樹老房的地</h3>
        </div>
        {{/if}}
      </div>
    </li>
    <li>
      <div class="tw-text-center hover:tw-shadow-2xl uk-card">
        <a class="tw-block" href="" title="封面">
          <div class="aspect ratio-3/4">
            <div class="uk-background-contain uk-flex uk-flex-center uk-flex-middle" style="background-image: url(img/book_04.jpg);"></div>
          </div>
        </a>
        {{#if caption}}
        <div class="tw-p-0 uk-card-body">
          {{#if typeLink}}<a class="bg_secondary tw-text-white tw-block" href="">西文<i class="tw-pl-2 fas fa-caret-right"></i></a>{{/if}}
          <h3 class="tw-truncate tw-text-sm tw-text-black tw-pt-2 tw-m-0 uk-card-title">加口長大中國加好說班文確最，在那上與為銀時她所樹老房的地</h3>
        </div>
        {{/if}}
      </div>
    </li>
    <li>
      <div class="tw-text-center hover:tw-shadow-2xl uk-card">
        <a class="tw-block" href="" title="封面">
          <div class="aspect ratio-3/4">
            <div class="uk-background-contain uk-flex uk-flex-center uk-flex-middle" style="background-image: url(img/book_05.jpg);"></div>
          </div>
        </a>
        {{#if caption}}
        <div class="tw-p-0 uk-card-body">
          {{#if typeLink}}<a class="bg_secondary tw-text-white tw-block" href="">西文<i class="tw-pl-2 fas fa-caret-right"></i></a>{{/if}}
          <h3 class="tw-truncate tw-text-sm tw-text-black tw-pt-2 tw-m-0 uk-card-title">加口長大中國加好說班文確最，在那上與為銀時她所樹老房的地</h3>
        </div>
        {{/if}}
      </div>
    </li>
    <li>
      <div class="tw-text-center hover:tw-shadow-2xl uk-card">
        <a class="tw-block" href="" title="封面">
          <div class="aspect ratio-3/4">
            <div class="uk-background-contain uk-flex uk-flex-center uk-flex-middle" style="background-image: url(img/book_06.jpg);"></div>
          </div>
        </a>
        {{#if caption}}
        <div class="tw-p-0 uk-card-body">
          {{#if typeLink}}<a class="bg_secondary tw-text-white tw-block" href="">西文<i class="tw-pl-2 fas fa-caret-right"></i></a>{{/if}}
          <h3 class="tw-truncate tw-text-sm tw-text-black tw-pt-2 tw-m-0 uk-card-title">加口長大中國加好說班文確最，在那上與為銀時她所樹老房的地</h3>
        </div>
        {{/if}}
      </div>
    </li>
  </ul>
  {{#if navDefault}}
  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"><span class="sr-only">前一個</span></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"><span class="sr-only">下一個</span></a>
  {{else}}
  <a class="l:tw-px-5 uk-position-left uk-flex uk-flex-middle uk-slidenav-large uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"><span class="sr-only">前一個</span></a>
  <a class="l:tw-px-5 uk-position-right uk-flex uk-flex-right uk-flex-middle uk-slidenav-large uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"><span class="sr-only">下一個</span></a>
  {{/if}}
</div>