{{!-- {{>table-basic minWiodth=true smallTable=true}} --}}
<!-- uk-overflow-auto -->
<div class="uk-overflow-auto">
  <table class="{{#if minWiodth}}min_width-1000@m {{/if}}uk-table{{#if smallTable}} uk-table-small{{/if}} uk-table-striped uk-table-responsive">
    <tbody>
      <tr>
        <td><span class="tw-bg-gray-500 tw-text-white tw-text-sm tw-px-2 tw-mr-1">Heading</span>Table Data</td>
        <td><span class="tw-bg-gray-500 tw-text-white tw-text-sm tw-px-2 tw-mr-1">Heading</span>Table Data</td>
      </tr>
      <tr>
        <td><span class="tw-bg-gray-500 tw-text-white tw-text-sm tw-px-2 tw-mr-1">Heading</span>Table Data</td>
        <td><span class="tw-bg-gray-500 tw-text-white tw-text-sm tw-px-2 tw-mr-1">Heading</span>Table Data</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- /uk-overflow-auto -->