{{!-- {{>header topNav='true' hrefForAA='true' 01active='true' borderHR='true' modal='true'}} --}}

<!-- header -->
<header class="shadow">
	{{#if topNav}}
	<nav class="bg_primary py-1 text-center relative uk-visible@m" uk-margin>
		<div class="px-4 py-1 uk-container">
			<div class="sub_nav margin_x_child text-sm h-full uk-flex uk-flex-center uk-flex-middle" uk-margin>
				{{#if hrefForAA}}
				<span class="uk-visible@m"><a class="px-2" href="#U" id="AU" name="U" title="上方功能區塊" accesskey="U" style="padding-bottom: 3px;">:::</a></span>
				{{/if}}
				<span><a class="px-2" href="index.html">回首頁</a></span>
				<span><a class="px-2" href="#">常見問題</a></span>
				<span><a class="px-2" href="#">聯絡我們</a></span>
			</div>
		</div>
	</nav>
	{{/if}}
	<div class="shadow-xl uk-sticky" uk-sticky="media: (max-width: 959px)">
		<nav>
			<div class="relative">
				<div class="bg-white opacity-85 uk-position-cover"></div>
				<div class="px-4 py-1 uk-container">
					<div class="uk-flex-middle uk-grid uk-grid-small uk-grid-match uk-child-width-expand" uk-grid>
						<div class="logo">
							<h1 class="m-0 uk-flex uk-flex-middle">
								<a class="logo" href="index.html" title="{{title}}">
									<img class="uk-preserve" data-src="img/logo.svg" data-width data-height alt="{{title}}" uk-img uk-svg>
								</a>
							</h1>
						</div>
						<div class="m-0 relative uk-width-auto uk-visible@m">
							<div class="sub_nav text-sm uk-flex uk-flex-middle">
								{{#if hrefForAA}}
								<span class="uk-visible@m"><a class="text-base px-2" href="#U" id="AU" name="U" title="上方功能區塊" accesskey="U" style="padding-bottom: 3px;">:::</a></span>
								{{/if}}
								<div>
									<span><a class="px-2" href="index.html">首頁</a></span>
									<span><a class="px-2" href="#">我要推薦</a></span>
									<div class="min_width-50 uk-dropdown" uk-dropdown>
										<ul class="uk-nav uk-dropdown-nav">
											<li><a class="hover:underline py-2" href="#search" uk-toggle>推薦資料</a></li>
											<li><a class="hover:underline py-2" href="#">推薦資料總覽</a></li>
										</ul>
									</div>
									<span><a class="px-2" href="#">個人推薦資料</a></span>
									<span><a class="px-2" href="#">English</a></span>
								</div>
								{{!-- <span class="text-white">|</span> --}}
								<span><button class="color_primary border-none l:pr-0 uk-button uk-button-default" type="button" title="註冊/登入/登出"><i class="-mb-1 fas fa-user-circle fa-lg"></i></button></span>
								<div class="min_width-50 uk-dropdown" uk-dropdown>
									<ul class="uk-nav uk-dropdown-nav">
										<li><a class="hover:underline py-2" href="#register" uk-toggle>註冊</a></li>
										<li><a class="hover:underline py-2" href="#login" uk-toggle>登入</a></li>
										<li><a class="hover:underline py-2" href="index.html">登出</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="uk-flex-nowrap uk-width-auto uk-hidden@m">
							<div class="uk-inline">
								<button class="color_primary border-none h-full uk-button uk-button-default" type="button" title="註冊/登入/登出"><i class="-mb-1 fas fa-user-circle fa-lg"></i></button>
								<div class="min_width-50 uk-dropdown" uk-dropdown="pos: bottom-right">
									<ul class="uk-nav uk-dropdown-nav">
										<li><a class="hover:underline py-2" href="#register" uk-toggle>註冊</a></li>
										<li><a class="hover:underline py-2" href="#login" uk-toggle>登入</a></li>
										<li><a class="hover:underline py-2" href="index.html">登出</a></li>
									</ul>
								</div>
							</div>
							<button class="min_width-30! color_primary px-0 uk-flex uk-flex-right uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas"><span class="sr-only">選單</span></button>
						</div>
					</div>
				</div>
			</div>
		</nav>
		{{#if borderHR}}
		<hr class="border_black_opacity-20 m-0">
		{{/if}}
	</div>
	{{>offcanvas}}
</header>

{{#if modal}}
{{>login-modal id='login' modal-title='會員登入' errorOn='true' error='驗證提示語'}}

{{>register-modal id='register' modal-title='會員註冊'}}

{{>search-modal id='search' modal-title='推薦搜尋'}}
{{/if}}
<!-- header -->