@import 'functions', 'variables', 'colors-variables', 'color', 'mixin';

/* .ckeditor, #content {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
} */
// .ckeditor.table {
//   display: block !important;
// }

.ckeditor [style*="標楷體"] {
  font-family: 標楷體 !important;
}
.ckeditor [style*="細明體"] {
  font-family: 細明體 !important;
}

.ckeditor table {
  width          : 100%;
  border-collapse: inherit;
  // margin: 20px 0;
  /* white-space : nowrap; */
  /* min-width   : 600px; */
  /* word-break  : break-all;
  white-space    : normal; */
}

.ckeditor table[border]:not(.uk-table) {
  border-collapse: collapse;
}

.ckeditor table[border]:not([border="0"]):not(.uk-table) th,
.ckeditor table[border]:not([border="0"]):not(.uk-table) td {
  padding: 0 5px;
}

.ckeditor table[border="0"]:not(.uk-table) {
  border-collapse: inherit;
}

.ckeditor table:not([border="0"]):not(.uk-table),
.ckeditor table:not([border="0"]):not(.uk-table) th,
.ckeditor table:not([border="0"]):not(.uk-table) td {
  border: 1px solid black;
}

// .ckeditor.table table * {
//   word-break: break-all;
//   white-space: normal;
// }

// @media (max-width: 959px) {
//   .ckeditor.tableblock table,
//   .ckeditor.tableblock table caption,
//   .ckeditor.tableblock table thead,
//   .ckeditor.tableblock table tbody,
//   .ckeditor.tableblock table th,
//   .ckeditor.tableblock table td,
//   .ckeditor.tableblock table tr {
//     display: block;
//     width: 100% !important;
//   }

//   .ckeditor.tableblock.table4896 table tr:first-child td:not(:last-child) {
//     display: none;
//   }
// }

// @media (max-width: 1119px) {
//   .ckeditor.tablescroll #content {
//     overflow: auto;
//     -webkit-overflow-scrolling: touch;
//     display: block !important;
//   }

//   .ckeditor.tablescroll table {
//     min-width: 1000px;
//   }

//   .ckeditor.tablescroll table:last-of-type {
//     margin-bottom: 0;
//   }

//   .ckeditor table {
//     width: 100%;
//     word-break: break-all;
//   }
// }

/*--- Stack table ---*/
@media (max-width: 959px) {
  // .ckeditor.table table:not(.scroll_table):not(.uk-table) * {
  //   word-break : break-all;
  //   white-space: normal;
  // }

  .ckeditor table:not(.scroll_table):not(.uk-table),
  .ckeditor table:not(.scroll_table):not(.uk-table) caption,
  .ckeditor table:not(.scroll_table):not(.uk-table) thead,
  .ckeditor table:not(.scroll_table):not(.uk-table) tbody,
  .ckeditor table:not(.scroll_table):not(.uk-table) th,
  .ckeditor table:not(.scroll_table):not(.uk-table) td,
  .ckeditor table:not(.scroll_table):not(.uk-table) tr {
    display: block;
    width  : 100% !important;
  }

  .ckeditor table:not(.scroll_table):not(.uk-table) thead,
  .ckeditor table:not(.scroll_table):not(.uk-table) th {
    display: none;
  }

  .ckeditor table[border]:not([border="0"]):not(.uk-table) {
    border: none !important;
    // margin: 20px 0;
  }

  .ckeditor table:not(.scroll_table):not(.uk-table) *:not([class*=fa]) {
    width      : auto !important;
    height     : auto !important;
    max-width  : none !important;
    min-width  : 0 !important;
    overflow   : visible !important;
    white-space: normal !important;
  }

  .ckeditor table[border]:not([border="0"]):not(.uk-table) td {
    border       : none;
    border-bottom: 1px solid black;
    border-left  : 1px solid black;
    border-right : 1px solid black;
    padding      : 5px;
  }

  .ckeditor table[border]:not([border="0"]):not(.uk-table) tr th:first-child,
  .ckeditor table[border]:not([border="0"]):not(.uk-table) tr td:first-child {
    border-top: 1px solid black;
  }

  .ckeditor table:not(.scroll_table):not(.uk-table) span.heading {
    display         : inline-block;
    color           : white;
    background-color: $color-grey-600;
    margin-right    : 10px;
    padding         : 0 5px;
  }
}

// @media (max-width: 1119px) {
//   .ckeditor table {
//     width: 100%;
//   }

//   .ckeditor.tablescroll #content {
//     overflow                  : auto;
//     -webkit-overflow-scrolling: touch;
//     display                   : block !important;
//   }

//   .ckeditor.tablescroll table {
//     min-width: 1000px;
//   }

//   .ckeditor.tablescroll table:last-of-type {
//     margin-bottom: 0;
//   }
// }

// @media (min-width: 1200px) {
//   .ckeditor table:not(.scroll_table):not(.uk-table) span.heading {
//     display: none;
//   }
// }

/*--- Stack table ---*/


.ckeditor ul:not(#{$list-arrow}):not([uk-switcher]):not(.uk-switcher) {
  list-style: disc;
}

.ckeditor ol {
  list-style: decimal;
}

.ckeditor ul:not([uk-switcher]):not(.uk-switcher) {
  list-style-position: inside;
}

.ckeditor ul:not([uk-switcher]):not(.uk-switcher), .ckeditor ol {
  padding-left       : 20px;
}

.ckeditor ul#{$list-arrow} {
  padding-left: 0;
}

.ckeditor ul>li>*,
.ckeditor ol>li>* {
  vertical-align: top;
}

.ckeditor h1,
.ckeditor h2,
.ckeditor h3,
.ckeditor h4,
.ckeditor h5,
.ckeditor h6,
.ckeditor a:not([class*=btn_]):not([class*=uk-button]),
.ckeditor .h3,
.ckeditor .h4,
.ckeditor .h5,
.ckeditor .h6 {
  color           : $color-primary !important;
  /* margin-top   : 40px; */
  /* margin-bottom: 20px; */
}

.ckeditor .uk-card h1,
.ckeditor .uk-card h2,
.ckeditor .uk-card h3,
.ckeditor .uk-card h4,
.ckeditor .uk-card h5,
.ckeditor .uk-card h6 {
  color: $color-dark !important;
}

.ckeditor h3,
.ckeditor .h3 {
  position    : relative;
  padding-left: 17px;
}

.ckeditor .uk-card>h3 {
  padding: 0;
}

.ckeditor h3::before,
.ckeditor .h3::before {
  display               : inline-block;
  font-style            : normal;
  font-variant          : normal;
  text-rendering        : auto;
  -webkit-font-smoothing: antialiased;
  font-family           : "Font Awesome 5 Free";
  font-weight           : 900;
  content               : "\f0da";
  padding-right         : 10px;
  content               : "▶";
  font-size             : 0.9rem;
  position              : absolute;
  top                   : calc(50% - 24px/2);
  left                  : 0;
  transform             : scaleX(.7) translate(-4px, 0);
}

.ckeditor .uk-card h3::before {
  display: none;
}

.ckeditor *:not([class*=uk]) {
  margin: 0;
}

.ckeditor h1,
.ckeditor .h1,
.ckeditor h2,
.ckeditor .h2,
.ckeditor h3,
.ckeditor .h3,
.ckeditor h4,
.ckeditor .h4,
.ckeditor h5,
.ckeditor .h5,
.ckeditor h6,
.ckeditor .h6,
.ckeditor p {
  margin: 5px 0;
}

.ckeditor h1,
.ckeditor .h1,
.ckeditor h2,
.ckeditor .h2,
.ckeditor h3,
.ckeditor .h3,
.ckeditor h4,
.ckeditor .h4,
.ckeditor h5,
.ckeditor .h5,
.ckeditor h6,
.ckeditor .h6 {
  font-weight: bold;
}

.ckeditor h1,
.ckeditor .h1 {
  font-size: calc(36rem/18) !important;
}

.ckeditor h2,
.ckeditor .h2 {
  font-size: calc(32rem/18) !important;
}

.ckeditor h3,
.ckeditor .h3 {
  font-size: calc(24.75rem/18) !important;
}

.ckeditor h4,
.ckeditor .h4 {
  font-size: calc(22.5rem/18) !important;
}

.ckeditor h5,
.ckeditor .h5 {
  font-size: calc(18rem/18) !important;
}

.ckeditor h6,
.ckeditor .h6 {
  font-size: calc(15.75rem/18) !important;
}

.ckeditor img,
.ckeditor a:not([class*=btn_]):not([class*=uk-button]),
.ckeditor span,
.ckeditor label,
.ckeditor strong,
.ckeditor small {
  display: inline;
}

.ckeditor table img {
  display: inline-block;
}

.ckeditor .uk-subnav>*:first-child {
  padding-left: 0;
}

.ckeditor .uk-subnav-pill {
  border-bottom: 1px solid $color-grey-100;
  margin-bottom: 10px;
  margin-left: 0;
}

.ckeditor .uk-subnav-pill a {
  color           : $color-text !important;
  background-color: $color-grey-100;
  text-decoration : none !important;
}

.ckeditor .uk-subnav-pill a:hover {
  background-color: $color-grey-100;
  /* color        : #000 !important; */
}

.ckeditor .uk-subnav-pill>.uk-active>a {
  background: $color-primary;
  color     : #fff !important;
}

// /*----Fix Bootstrap----*/
// caption {
//   caption-side  : inherit;
// }

// .ckeditor.table td,
// .ckeditor.table th,
// .ckeditor.table thead th {
//   border: inherit;
// }
// /*----End Fix Bootstrap----*/

.ckeditor .table_center th, .ckeditor .table_center td {
  text-align: center;
}

.ckeditor>*:not(:first-child):not(:last-child) {
  margin: 20px 0;
}

@media (max-width: 959px) {}

@media (max-width: 1119px) {}

@media (min-width: 480px) {}

@media (min-width: 640px) {}

@media (min-width: 960px) {}

@media (min-width: 1200px) {}

@media (min-width: 1600px) {}

/*---------- Only landscape in mobile ------------------------------*/
@media screen and (orientation:landscape) and (max-device-width: 959px) {}

/*---------- IE10+ ------------------------------*/
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {}